@import '../../../constants';

.borderBottom {
  border-bottom: 1px solid @gray;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.overskrift {
  margin-bottom: 25px;
}

.undertittel {
  margin-bottom: 15px;
}
