.vurdering-medfolgende-barn {
  .undertittel {
    margin-bottom: 1em;
  }

  .vurdering-medfolgende-barn__enkelt {
    .personalia, .radios {
      display: flex;
    }

    .radios {
      :first-of-type {
        margin-right: 0.5em;
      }
    }
  }
}
