.vurderingArtikkel13UtpekLand {
  .undertittel,
  .forkortUtpekingsperiode,
  .fritekst {
    margin-top: 1em;
  }

  .forkortUtpekingsperiode {
    margin-bottom: 1em;
  }

  .lovvalgsperiode {
    margin-bottom: 1em;
  }
}
