@import '../../../constants';

.artikkel16 {
  .vilAnmode {
    margin-top: 1.5em;
  }

  .artikkel16__ekstratopp {
    margin-top: 1em;
  }

  #art16_1_anmodning::placeholder {
    font-style: italic;
  }

  .mottakerinstitusjoner, .fritekstSed {
    .skjemaelement__label {
      font-weight: bold;
    }
  }
}
