@import '../../../constants';

.vedtak {
  .vedtak__oppsummering {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .lovvalgsperiode {
    margin-top: 1.5em;
  }

  .fritekst {
    margin-top: 2em;
  }

  .mottakerinstitusjoner {
    margin-top: 1em;

    .skjemaelement__label {
      font-weight: bold;
    }
  }

  .vedtaktype {
    margin-top: 2em;
  }

  .periode__advarsel {
    margin-top: 1em;
  }
}
