.familieforhold-container {
  .etikett-container {
    display: flex;
    justify-content: flex-end;
  }

  .familiemedlemmer-row {
    margin-bottom: 1em;
  }
  .familiemedpareisen {
    margin-top: 1rem;
    .ingen-data {
      margin-bottom: -1em;
    }
  }
}
