.familieforhold-container {
  .etikett-container {
    display: flex;
    justify-content: flex-end;
  }

  .familiemedlemmer-row {
    margin-bottom: 1em;
  }

  .familiemedpareisen {
    .editerbart-element__legend {
      margin-top: 1rem;
    }
    .ingen__data__container {
      margin-bottom: 0;
    }
  }
}
