@import "../../../../constants.less";

.familieforhold-container {
  .etikett-container {
    display: flex;
    justify-content: flex-end;
  }

  .familiemedlemmer-row {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .familiemedpareisen {
    margin-top: 1rem;
    .ingen-data {
      margin-bottom: -1em;
    }
  }
  
  &__understrek {
    border-bottom: 1px solid @gray-dark;
  }
  
  &__mellomrom_ikon_tekst {
    margin-right: 0.2rem;
  }
}
