@import (reference) "~nav-frontend-core/less/_variabler";

@import "../../../../constants";
@import "../../../../utils/mixins";

.familiemedlemmer {
  .familiemedlemmer__gruppeoverskrift,
  .varsel,
  .familiemedlemmer__enkelt {
    margin: 1em 0 1em 0;
  }

  .header {
    margin: 0.3em 0;
    color: @navGra60;
    display: flex;
    align-items: center;
  }

  .lenke svg {
    fill: none;
  }

  .ikon__under18Aar {
    float: right;
    padding: 3px;
  }
}
