@import '../../../../constants';
@import '../../../../utils/mixins';

.familiemedlemmer {
  .familiemedlemmer__gruppeoverskrift, .varsel, .row {
    margin: 1em 0 1em 0;
  }

  .familiemedlemmer__detaljer {
    .beskrivliste-mixin('row');
  }

  .lenke svg {
    fill: none;
  }

  .ikon__under18Aar {
    float: right;
    padding: 3px;
  }
}
