.registerkontroll-listeelement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5em 0;

  &:first-of-type {
    padding-top: 1em;
  }

  p {
    margin-left: .5em;
  }
}

.row .seksjon:not(:first-of-type) {
  padding-top: 2em;
}

.skjema__fieldset {
  margin-bottom: 0;
}

.row .pdfLenkeListe {
  margin-left: .5em;
}
