.mb-0 {
  margin-block-end: var(--ax-space-0) !important;
}

.mb-2 {
  margin-block-end: var(--ax-space-8) !important;
}

.legacy-list--small ul,
.legacy-list--small ol {
  margin-block: var(--ax-space-6) !important;
}
