.mb-0 {
  margin-block-end: var(--a-spacing-0) !important;
}

.mb-2 {
  margin-block-end: var(--a-spacing-2) !important;
}

.navds-list--small ul,
.navds-list--small ol {
  margin-block: var(--a-space-6) !important;
}
