.vurderingFamilie {
  .alertstripe {
    margin-bottom: 0.5rem;
  }
  .fritekstWrapper {
    margin-top: 1.75rem;
    white-space: pre-wrap;

    &--barn {
      margin-bottom: 2rem;
    }
  }
  .fritekst {
    margin-top: 0.5rem;
  }
  .barn {
    margin-bottom: 0;
    .barnet {
      margin-bottom: 1.75rem;
    }
  }
  .ektefelle {
    margin-bottom: 0;
  }
}
