.vurderingFamilie {
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .alertstripe {
    margin-bottom: 0.5rem;
  }
  .familiemedlem_radio {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .fritekstWrapper {
    margin-top: 1.75rem;
    white-space: pre-wrap;

    &--barn {
      margin-bottom: 2rem;
    }
  }
  .fritekst-tittel {
    font-weight: bold;
  }
  .fritekst {
    margin-top: 0.5rem;
  }
  .barn {
    margin-bottom: 0;
    .barnet {
      margin-bottom: 1.75rem;
    }
  }
  .ektefelle {
    margin-bottom: 0;
  }
}
