.journalforing {
  width: 100%;
  .journalforing__sidetittel {
    margin-bottom: 0.25em;
  }
  .journalforing__vedlegg_velger {
    width: 50%;
  }
  .journalforing__skjema {
    background: none;
    padding: 0.5rem 0;
  }
  .journalforing__skjema__scroll {
    overflow-y: scroll;
    height: 100vh;
    margin: 0 -1em;
    margin-right: -0.5rem;
    padding: 0 1em;
  }
  .journalforing__dokument {
    padding-left: 0;
  }
  .journalforing__dokument_visning {
    background: none;
    padding: 0.5rem 0;
  }
}
