.journalforing {
  width:100%;
  .journalforing__dokument_visning {
    width: 50%;
  }
  .journalforing__skjema__scroll {
    overflow-y: scroll;
    height: 100vh;
    margin: 0 -1em;
    padding: 0 1em;
  }

  .journalforing__fotknapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #7f7f7f;
    margin-top: 2em;
    padding-top: 2em;
    justify-content: space-between;
  }
}
