.vurderingTrygdeavgift {
  .radio-gruppe__container,
  .alert--spacing-bottom {
    margin-bottom: 1rem;
  }

  .form__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.5rem;
  }

  .beregnKnapp {
    margin-top: 1rem;
  }

  .periode_tabell-wrapper {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }

  .periode_tabell {
    margin: 1em 0;
    overflow-x: auto;
    display: block;

    .header_row {
      white-space: nowrap;
    }

    .border_top {
      > :first-child {
        white-space: nowrap;
      }
    }
  }

  .alertstripe_feilmelding,
  .infomelding {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .typo-undertittel {
    margin-bottom: 1rem;
  }
}
