.feilmelding {
  .varselstripe {
    margin-bottom: 0.5rem;

    &__liste {
      margin: 0 0 0 -1rem;
    }

    .alertstripe__tekst {
      max-width: none !important;
    }

    .alertstripe__ikon {
      align-self: center;
    }
  }
}
