.vurderingInngang_trygdeavtale {
  .periode_label {
    margin-bottom: 1rem;
  }

  .skjema__container {
    display: inline-flex;
    width: 100%;

    > * {
      margin-right: 1rem;
    }

    .datovelger {
      max-width: 8rem;
    }

    .arbeidsland__select {
      width: 40%;
      max-width: 20rem;
    }

    .navds-form-field {
      display: inline-flex;
      flex-direction: column;
    }

    .navds-label--small {
      line-height: var(--a-font-line-height-large);
    }
  }
}
