@import (reference) "node_modules/nav-frontend-core/less/_variabler";

.vurderingBestemmelse {
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .hjelpetekst {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
  }
  .bestemmelseValg {
    .skjema__legend {
      margin-bottom: 8px;
    }
  }
  .bestemmelseTekst {
    div {
      background: @navLysGra;
      padding: 1.5rem;
    }

    ul {
      padding-top: 0.33rem;
    }
  }

  .unntakTekst,
  .bestemmelseTekst {
    ul {
      margin: 0;
    }

    li {
      margin-bottom: 0.33rem;
    }

    p {
      margin-bottom: 0;
    }

    .etikett--info {
      padding: 1.5rem;
      min-width: 100%;
    }
  }
}
