@import (reference) "node_modules/nav-frontend-core/less/_variabler";

.vurderingBestemmelse_trygdeavtale {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }
  .bestemmelseValg,
  .unntakHjelpetektsWrapper {
    margin-top: 1rem;
  }
  .bestemmelseHjelptetekst {
    div {
      background: @navLysGra;
      padding: 1.5rem;
    }
    ul {
      padding-top: 0.33rem;
      margin: 0;
    }
    li {
      margin-bottom: 0.33rem;
    }
    p {
      margin-bottom: 0;
    }
  }
}
