.editerbare-utenlandsoppdrag-sporsmal {
  > * {
    margin-bottom: 0.75rem;
  }

  .sporsmal-og-svar {
    margin-left: 0;

    .col {
      display: flex;

      > *:first-child {
        margin-right: 15px;
      }
    }
  }

  .utsendingsperiode__label {
    margin-bottom: 0.75rem;
  }
}
