.editerbare-utenlandsoppdrag-sporsmal  {
  .sporsmal-og-svar {
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }

    .col {
      display: flex;

      > *:first-child  {
        margin-right: 15px;
      }
    }
  }
}
