.lukknapp {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #6a6a6a;
  border: 2px solid currentColor;
  background-color: transparent;
  border-radius: 2px;
}
.lukknapp::before,
.lukknapp::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 3px;
  top: calc(50% - 0.175rem);
  left: 50%;
  background-color: currentColor;
}
.lukknapp::before {
  transform: translate(-50%, 50%) rotate(-45deg);
}
.lukknapp::after {
  transform: translate(-50%, 50%) rotate(45deg);
}
.lukknapp:hover {
  background-color: currentColor;
}
.lukknapp:hover::before,
.lukknapp:hover::after {
  background-color: #fff;
}
.lukknapp:active {
  color: #00459c;
}
.lukknapp:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00347d;
}
.lukknapp--bla {
  color: #0067c5;
}
.lukknapp--hvit {
  color: #fff;
}
.lukknapp--hvit:hover {
  background-color: #66cbec;
  border-color: #66cbec;
  color: #6a6a6a;
}
.lukknapp--hvit:hover::before,
.lukknapp--hvit:hover::after {
  background-color: #262626;
}
.lukknapp--overstHjorne {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
