.ovrig-om-arbeidstaker {
  .tittel {
    margin-bottom: 20px;

    > :first-child  {
      display: inline-block;
      margin-right: 1rem;
    }

    > :last-child {
      margin-left: 0.3rem;
    }
  }

  .rediger-lagre-knapp-container {
    display: flex;
    justify-content: flex-end;
  }
}
