.arbeidsforhold-arbeidstaker {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
}

.arbeidsforhold-virksomhet {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
}
.arbeidsforhold-vurdering {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
}

@media (min-width: 48.0625rem) {
  .arbeidsforhold-arbeidstaker {
    width: 35%;
    box-sizing: border-box;
    padding-right: 1rem;
  }

  .arbeidsforhold-virksomhet {
    width: 40%;
    box-sizing: border-box;
    padding-left: 1rem;
  }
  .arbeidsforhold-vurdering {
    width: 25%;
    box-sizing: border-box;
    padding-left: 1rem;
  }
}