@import (reference) "~nav-frontend-core/less/_variabler";
@import "../../constants";

.pdfLenkeListe {
  margin: 1em 0;

  button {
    display: block;
    border: 0;
    padding: 2px;
    outline: 0;
    background: transparent;
    color: @blue-nav;
    cursor: pointer;

    &:focus,
    &:hover {
      text-decoration: underline;
      box-shadow: 0 0 0 3px @fokusFarge;
    }
  }

  .varsel {
    margin: 1em 0;
  }
}
