
.fullmektig:not(:last-child) {
  border-bottom: 1px solid grey;
  padding-bottom: 1.5em;
}

.fullmektig {
  margin-bottom: 3em;

  .adresse {
    margin-top: 0.8em;
  }

  .radioknapper {
    margin-top: 1em;
  }
}
