@import '../../utils/mixins';

.arbeidsavtaler {

  .arbeidsavtale__nyeste {
    .clearfix();
    clear:both;
  }

  .arbeidsavtaler__historisk__overskrift {
    clear:both;
  }

  .arbeidsavtaler__detaljer {
    .beskrivliste-mixin('col');
  }

  .vistabell__knapp {
    float:right;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
