@import '../../utils/mixins';

.organisasjon {
  margin-top: 3em;

  .organisasjon__detaljer {
    .beskrivliste-mixin('col');
  }

  .organisasjon__slettknapp {
    display: flex;
    flex: 1;
    align-content: flex-end;
    justify-content: flex-end;
  }

}
