.vurderingInngang_ftrl {
  .søknads_periode_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .søknads_periode {
      display: flex;
      flex-direction: row;
      min-width: 640px;

      .fomDato {
        margin-left: 0;
      }

      > * {
        min-width: 7rem;
        margin-left: 0.5rem;
      }
    }
  }
  .stegvelgertittel {
    margin-bottom: 2rem;
  }

  .trygdedekning {
    min-width: 18rem !important;
  }

  .land_wrapper {
    margin-left: 1rem !important;
    min-width: 20rem !important;

    .land {
      margin-bottom: 0.75rem;
    }

    .flereLandUkjente {
      margin-right: 1rem;
      margin-bottom: 0.5rem;
    }

    .flereLand {
      margin-bottom: 0;
    }

    .land_multiselect {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
  }

  .alert {
    margin-bottom: 1rem;
  }
  .hjelpetekst {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    white-space: normal;
  }
  .label__container {
    margin-bottom: 1rem;
  }
  .inkluderSiste5Aar {
    margin: 0.25rem 0 0.75rem 0.5rem;
  }
}
