@import '../../../../constants';

.editable__element {
  .skjema__legend {
    width: 100%;
  }

  .skjema__fieldset {
    margin-bottom: 0;
  }

  .understrek {
    border-bottom: 1px solid @gray-dark;
  }
}
