@import '../../../../../utils/mixins';

.soknadsperiode {
  .soknadsperiode__etikett {
    margin-bottom: 0.5em;;
  }

  .knapp {
    margin-right: 1em;
  }

  .periode__container {
    display: flex;

    .periode {
      margin-right: 1em;
    }
  }
}
