.lonnOgGodtgjorelser {
  .editerbart-element__legend {
    margin-top: 2em;
  }

  .boolean-felt-redigerer {
    display: flex;

    .skjema__legend {
      float: left;
      font-weight: normal;
    }

    .skjemaelement {
      flex-direction: column;
      margin-left: 1em;
    }
  }

  .boolean-felt-redigerering-utfort {
    margin-bottom: 1em;

    .typo-normal {
      display: inline;
    }

    .typo-element {
      display: inline;
      float: right;
    }
  }

  .inntekt-redigerer {
    /*
    .typo-normal {
      position: relative;
      top: 39px;
      margin-right: auto;
      margin-left: 120px;
      color: grey;
    }
    */
  }

  .inntekt-redigering-utfort {
    margin: 0.5em 0;

    .inntekt-undertittel {
      display: flex;
      align-content: center;
      margin-top: 5px;

      .inntekt-ikon {
        width: auto;
        height: 28px;
        padding-top: 3px;
        margin-left: 10px;
      }
    }
  }
}
