.lonnOgGodtgjorelser {
  .editerbart-element__legend {
    margin-top: 2rem;
  }

  .navds-radio-group {
    margin-bottom: 1rem;
  }

  .boolean-felt-redigering-utfort {
    margin-bottom: 1rem;

    .typo-normal {
      display: inline;
    }

    .typo-element {
      display: inline;
      float: right;
    }
  }

  .input__row {
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  .inntekt-redigering-utfort {
    margin: 0.5rem 0;

    .inntekt-undertittel {
      display: flex;
      align-content: center;
      margin-top: 5px;

      .inntekt-ikon {
        width: auto;
        height: 28px;
        padding-top: 3px;
        margin-left: 10px;
      }
    }
  }
}
