@import (reference) "~nav-frontend-core/less/_variabler";

.adresselisterad {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  margin: 0.25em 0;

  &--groenn {
    color: @navGronnDarken40;
  }
  &--roed {
    color: @redError;
  }
}
