.vurderingPeriodeOffentligAnsatt {
  .velgLovvalgsbestemmelse {
    margin-top: 20px;
  }

  .undertittel {
    margin-top: 1em;
  }

  .lovvalgsperiode {
    margin-top: 0.5em;
  }

  .periodeForkorter {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .forkortLovvalgsperiode {
    margin-bottom: 1em;
  }
}
