.topplinje-julepynt__sesong {
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.topplinje-julepynt__bilde {
  display: block;
  max-height: 48px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  width: auto;
}

.topplinje-julepynt__julerein {
  transform: translateY(-3px);
}

.topplinje-julepynt__misteltein {
  position: absolute;
  transform: translateX(100px) translateY(18px) rotate(-25deg);
}
