@import '../../../utils/mixins';

.selvstendigArbeid {
  .enkeltForetak {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #7f7f7f;
  }

  .enkeltforetakAdresse {
    margin: 0.8em 0 1em 0;
  }

  .leggTilForetak {
    margin-bottom: 2em;
  }
}
