
.eksisterendeSaker {
  display: flex;
  flex-direction: column;
  margin: 2em 0;

  .enkeltSak {
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    padding: 0.2em 1em;
    border-radius: 2px;
    margin: 0.3em 0;
  }

  .enkeltSak__meta {
    display: block;
    margin: 0;

    dt {
      float: left;
      clear: left;
      font-weight: bold;
      margin-right: 0.4em;
    }

    dd {
      float:left;
      clear: right;
      margin: 0;
    }
  }

  .eksisterendeSaker__knyttTilSak {
    display: flex;
    flex: 0;
    align-self: flex-start;
  }
}
