@import "../../../constants";

.lenkeknapp,
.lenkeknapp__ikon {
  color: @blue-nav;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  border: none;
  padding: 3px;

  svg {
    position: unset;
    height: 1.4rem;
    width: 1.4rem;
    overflow: visible;
    padding-right: 0.4rem;
    fill: @blue-nav-focus;
    stroke: @blue-nav-focus;
    vertical-align: middle;
  }

  &:hover,
  &--hover {
    text-decoration: none;
  }

  &:focus,
  &--focus,
  &:active:not([disabled]),
  &--active {
    outline: solid 1px @blue-nav-focus;
    box-shadow: 0 0 0 2px @blue-nav-focus;
    text-decoration: none;
  }

  svg + span:not(.sr-only),
  span:not(.sr-only) + svg {
    margin-left: 0.25em;
  }

  &:disabled {
    color: @gray-dark;
    cursor: not-allowed;

    svg {
      stroke: @gray-dark;
    }
  }
}

.lenkeknapp__ikon {
  text-decoration: none;
}
