@import (reference) "~nav-frontend-lenker-style/src/lenker-mixins";

.lenkeknapp {
  .lenke-mixin();
  .lenkemedikon-mixin();
  text-align: left;

  // resetter default styling fra <button>
  border: none;
  padding: 0;
}
