.medfolgendeAndre {
  .medfolgendeAndre__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .spinner {
    margin-top: 2.2em;
    margin-left: -3em;
  }

  .knapp {
    margin: 2em 0 0 0.5em;
    align-self: flex-start;
  }
}
