@import '../../../utils/mixins';

.oppgittAdresseSoknad {
  .knappMedIkon {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 24px;
      margin: -0.4em 1em -0.4em -0.5em
    }
  }

  .knappMedIkon:hover {
    svg {
      path {
        stroke: white;
      }
    }
  }

  .person__detaljer {
    .beskrivliste-mixin('col');
  }
}
