@import '../../../constants';
@import '../../../utils/mixins';

.personopplysninger {
  .undertittel {
    border-bottom: 1px solid @gray;
    margin-bottom: 15px;
  }

  .registrerteAdresser {
    margin-top: 40px;
  }

  .kontantytelserUndertittel {
    margin-top: 50px;
  }

  .oppgittAdresse {
    margin-bottom: 40px;
  }

  .personopplysninger__panelheader {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .personopplysninger__personstatus {
    .etikett {
      margin: 0 .3em;
    }
  }

  .person__detaljer {
    .beskrivliste-mixin('col');
  }

  .skjemaelement__label {
    font-weight: bold;
  }
}

.adresseHeader {
  thead {
    border-bottom: 1px solid @gray;
  }

  th {
    text-align: left;
  }

  .adresseTittel {
    width: 50%;
  }
}

.adresseRad {
  td {
    padding: .3em .2em;
    vertical-align: top;
    border-bottom: 1px solid @gray;
  }
}
