.vurderingVedtak {
  &__infolinje {
    margin-bottom: 2rem;
  }

  &__info {
    padding-left: 0.5em;
  }

  &__hjelpetekst {
    white-space: pre-wrap;
    margin-bottom: 0.25rem;
  }

  &__ikon {
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }

  &__datofelt_wrapper {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 0.5rem;
  }

  &__datofelt_fom {
    white-space: nowrap;
  }

  &__datofelt {
    margin-left: 1rem;
  }

  &__fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__fritekst_editor {
    margin-left: 0.5rem;
  }

  &__kopiCheckbox {
    margin: 2rem 0 0 0.5rem;
  }

  &__forhåndsvisning {
    margin: 0;
    display: inline-block;
  }

  &__nyvurdering {
    margin-left: 0.5rem;
    margin-bottom: -1rem;
    .skjema__legend {
      margin-bottom: 0;
    }
    &--fritekst {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  &__alertstripe {
    margin-top: 1rem;
  }
}
