@import '../../../constants';

.vurderingArbeidsmonster {

  .arbeidsmonster {
    margin-top: 2em;
  }

  .arbeidsmonster__enkeltlinje {
    align-items: center;
    margin: 0 0 1em 0;
    width:300px;
  }
}
