@import '../../../constants';

.vurderingArbeidsmonster {

  .arbeidsmonster {
    > * {
      margin-top: 1rem;
    }

  }
  .marginaltArbeid {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    .landliste_innhold {
      padding-bottom: 1rem;

      > :first-child {
        padding-top: 0;
      }

      .land__enkeltlinje {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0.5rem 20% 0.5rem 0;
        border-bottom: 1px solid black;

        :last-child {
          width: 50px;
        }

        * {
          margin-bottom: 0; // Fjerner margin på Nav.Checkbox for å passe inn i rad
        }
      }
    }
  }
}
