.saksplukker {
  &__skjema {
    display: flex;
    flex-direction: column;
  }

  &__knapperad {
    margin-top: 1rem;
  }

  &__knapp {
    margin: 0 0.5rem;
  }

  .skjemaelement__label {
    font-weight: bold;
    margin-bottom: 1em;
  }
}
