.sokeskjema {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  .sokeskjema__input {
    margin-right: 0.75em;
    margin-top: 1em;
  }

  .sokeskjema__knapp {
    background: white;

    button {
      padding: 0.5rem 1rem;
    }
  }

  .sok__tekst {
    margin-right: 1em;
  }
}
