.sokeskjema {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;

  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .sokeskjema__input {
    margin-right: 0.75rem;
  }

  .sokeskjema__knapp {
    background: white;
  }

  .sok__tekst {
    margin-right: 1em;
  }
}
