.statistikk {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statistikk__meta__term,
.statistikk__meta__detalj {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.statistikk__meta__term {
  height: 2.5em;
}

.statistikk__meta__detalj {
  font-size: 4rem;
}

