@import "../../../../utils/mixins.less";

.arbeidsavtaler {
  .arbeidsavtale__nyeste {
    clear: both;
  }

  .arbeidsavtaler__historisk__overskrift {
    clear: both;
  }

  .arbeidsavtaler__detaljer {
    .beskrivliste-mixin("col");
  }

  .vistabell__knapp {
    float: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
