.vurderingPeriode {
  .velgLovvalgsbestemmelse {
    margin-top: 1rem;
  }

  .undertittel {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .lovvalgsperiode {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .periodeForkorter {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .forkortLovvalgsperiode {
    margin-bottom: 1em;
  }

  .fritekst {
    margin-top: 1rem;
  }
}
