@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingVedtakIkkeYrkesaktiv {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }
  .info {
    padding-left: 0.5em;
  }
  .hjelpetekst {
    white-space: pre-wrap;
    margin-bottom: 0.25rem;
  }
  .ikon {
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }
  .datofelt_wrapper {
    display: inline-flex;
    margin-left: 0.5rem;
    .datovelger {
      padding-bottom: 0.5rem;
    }
    > * {
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
  .datofelt_knapper > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.75rem;
  }
  .periode {
    display: inline-flex;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .endrePeriode {
    cursor: pointer;
    margin-left: 0.5rem;
  }
  .endrePeriodeTekst {
    vertical-align: top;
    margin-left: 0.25rem;
    color: @navBla;
  }
  .endrePeriodeTekst--disabled {
    vertical-align: top;
    margin-left: 0.25rem;
    cursor: auto;
  }
  .fritekst_editor {
    margin-left: 0.5rem;
  }
  .kopiCheckbox {
    margin: 2rem 0 -1rem 0.5rem;
  }
  .forhåndsvisning {
    margin: 0;
    display: inline-block;
  }
  .nyvurdering_info {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .nyVurderingBakgrunn {
    margin-bottom: -1rem;
  }
  .nyVurderingBakgrunnFritekstRad {
    margin-top: 0.5rem;
  }
  .fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    .hjelpetekst {
      width: 20px;
      height: 20px;
    }
  }
  .fritekst_editor {
    margin-left: 0.5rem;
  }
}
