@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingVedtakIkkeYrkesaktiv {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  &__infolinje {
    // margin-bottom: 2rem;
  }

  .info {
    padding-left: 0.5em;
  }

  .hjelpetekst {
    white-space: pre-wrap;
    margin-bottom: 0.25rem;
  }

  .ikon {
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }

  .datofelt_wrapper {
    display: inline-flex;
    padding-left: 0.5em;
  }

  .datofelt {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .endrePeriode {
    cursor: pointer;
    margin-left: 0.5rem;
  }

  .endrePeriodeTekst {
    vertical-align: top;
    margin-left: 0.25rem;
    color: @navBla;
  }

  .endrePeriode--disabled {
    cursor: auto;
  }

  .fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .fritekst_editor {
    margin-left: 0.5rem;
  }

  .kopiCheckbox {
    margin: 2rem 0 -1rem 0.5rem;
  }

  .forhåndsvisning {
    margin: 0;
    display: inline-block;
  }

  .nyvurdering {
    margin-left: 0.5rem;
    margin-bottom: -1rem;
    .skjema__legend {
      margin-bottom: 0;
    }
    &--fritekst {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  .alertstripe {
    margin: -1rem auto;
  }

  .fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    .hjelpetekst {
      width: 20px;
      height: 20px;
    }
  }

  .fritekst_editor {
    margin-left: 0.5rem;
  }

  .feilmelding {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
