@import '../utils/mixins';

.inntekt {

  .inntekt__seksjon {
    .seksjonmixin();

    .inntekt__soknad {
      .beskrivliste-mixin('col');
    }

    .inntekt__detaljer {
      width:100%;

      .detaljer__periode {
        width:20%;
        white-space: nowrap;
      }

      .detaljer__firma {
        width:30%;
      }

      .detaljer__orgnr {
        width:20%;
      }

      .detaljer__beskrivelse {
        width:30%;
        white-space: nowrap;
      }
    }
  }
}
