@import '../utils/mixins';

.personopplysninger {

  .person__seksjon {
    .seksjonmixin();
  }

  .personopplysninger__panelheader {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .personopplysninger__personstatus {
    .etikett {
      margin: 0 .3em;
    }
  }

  .person__detaljer {
    .beskrivliste-mixin('col');
  }

  .skjemaelement__label {
    font-weight: bold;
  }
}

.utenlandskIdent {
  margin-top: 0.8em;

  .utenlandskIdent__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .landliste {
    margin-left: 0.5em;
  }

  .utenlandskIdent__linje {
    display: flex;
    flex-direction: row;

    .skjemaelement {
      margin-left: 0.3em;
    }
  }
}

