@import '../constants';
@import '../utils/mixins';

.medlemskap {

  .medlemskap__enkelt {
    .seksjonmixin();
    border-bottom: 1px solid @gray-dark;

    &:last-child {
      border-bottom: 0;
    }
  }

  .medlemskap__gruppeoverskrift {
    margin: 1em 0 1em 0;
  }

  .medlemskap__detaljer {
    .beskrivliste-mixin('row');
  }

  .visavvist__knapp {
    float:right;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
