@import '../../constants';

.sedunderarbeid {
  .row {
    width: 95%;
    display: flex;
    align-items: center;

    .status-etikett {
      text-align: center;
    }

    .lenkepanel__heading {
      text-align: end;
      color: @blue-nav;
      font-weight: 900;
    }
  }
}
