@import (reference) "~nav-frontend-core/less/_variabler";

.annen-forelder-modal {
  max-width: 1024px;

  width: 95%;
  @media (min-width: @screen-lg-min) {
    width: 80%;
  }

  &__tabell {
    padding: 1em 0 2em 0.5em;

    &__header {
      color: @navGra60;

      > * {
        padding-left: 0;
      }
    }

    &__row {
      border-top: 1px solid @navGra60;
      padding: 0.3em 0;

      &:last-child {
        border-bottom: 1px solid @navGra60;
      }

      > * {
        padding-left: 0;
      }
    }
  }
}
