@import '../../../utils/mixins';

.inntektUtland {

  .inntektUtland__seksjon {
    .seksjonmixin();

    .inntektUtland__soknad {
      .beskrivliste-mixin('col');
    }

    .inntektUtland__detaljer {
      width:100%;

      .detaljer__periode {
        width:20%;
        white-space: nowrap;
      }

      .detaljer__firma {
        width:30%;
      }

      .detaljer__inntekt {
        width:30%;
      }

      .detaljer__beskrivelse {
        width:30%;
        white-space: nowrap;
      }
    }
  }
}
