@import "../../../utils/mixins";
@import "../../../constants";

.registrering {
  width: 100%;

  .registrering__skjema__scroll {
    overflow-y: scroll;
    height: 100vh;
    margin: 0 -1em;
    padding: 0 1em;
  }

  .registrering__fotknapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #7f7f7f;
    margin-top: 2em;
    padding-top: 2em;
  }

  .oppsummering__menylinje {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    height: 3em;
  }

  .oppsummering__behandlingsstatus {
    margin: 2em 0 0 0;
  }
}
