.row .seksjon:not(:first-of-type) {
  padding-top: 2em;
}

.skjema__fieldset {
  margin-bottom: 0;
}

.row .pdfLenkeListe {
  margin-left: 0.5em;
}

.anmodningunntak_statsborgerskapmelding {
  margin-top: 0.5rem;
}
