.row .seksjon:not(:first-of-type) {
  padding-top: 2em;
}

.skjema__fieldset {
  margin-bottom: 0;
}

.anmodningunntak_statsborgerskapmelding {
  margin-top: 0.5rem;
}

.vurderUnntaksperiode,
.vurderingEndrePeriode {
  .lovvalgsland__varsel {
    margin-top: 0.5rem;
    max-width: 500px;
  }

  .navds-radio-buttons {
    margin-bottom: 1rem;
  }
}
