@import "../../constants";

.menypanel {
  .utenPadding {
    padding: 0;
  }

  &__inhold {
    margin-bottom: 8rem;
  }

  &__table-wrapper {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    margin-bottom: 1rem;
    border-spacing: 0;
    text-align: left;

    .header {
      margin: 0.3em 0;
      color: @navGra60;
    }

    th,
    td {
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: @gray-dark;
      padding: 0.5rem 0.5rem 0.5rem 0;
    }

    th.transparent {
      color: rgba(0, 0, 0, 0);
    }

    th.fixed-width {
      width: 20%;
    }

    .gyldig-label {
      color: #006a23;
    }

    .historisk-label {
      color: #ba3a26;
    }
  }
}

.menypanel__feilmelding {
  padding: 5px 20px 0;

  svg {
    margin: 5px;
  }
}
