.menypanel {
  display: flex;
  flex-direction: row;

  border-top-left-radius: 0;

  .content {
    width: 80%;
    border-top-right-radius: 0;
  }
}

.menypanel__feilmelding {
  padding: 5px 20px 0;

  svg {
    margin: 5px;
  }

  .alertstripe__tekst {
    max-width: none;
    line-height: 35px;

    .knapp {
      float: right;
      border: none;

      svg {
        fill: #ba3a26;
      }
    }
  }
}
