.menypanel {
  display: flex;
  flex-direction: row;

  .content {
    width: 80%;
  }
}

.alertstripe {
  padding: 5px 20px 0;
  svg {
    margin: 5px;
  }
}

.alertstripe__tekst {
  max-width: none !important;
  line-height: 35px;

  .knapp {
    float: right;
    color: #ba3a26 !important;
    border: none !important;
    svg {
      fill: #ba3a26 !important;
    }
  }
}
