@import "../../constants.less";

.oppdater-registeropplysninger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 14px;
  padding: 0.25rem 0.5rem 0.25rem 0;

  background-color: #f8f8f8;
  border: 1px solid #c9c9c9;
  border-radius: 0;

  &__oppdateringsknapp {
    color: @navBla;
    margin-right: 0.25rem;
  }

  &__sistOppdatert {
    margin-right: 0.25rem;
  }

  &__checkbox {
    margin-right: 1.5rem;
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
