@import (reference) "~nav-frontend-core/less/_variabler";

.oppdater-registeropplysninger {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 7px;

  background-color: #f8f8f8;
  border-radius: 0;

  &__oppdateringsknapp {
    color: @navBla;
    margin-right: 5px;
  }

  svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
