@import "../../../../constants";

.en__redigeringsknapp__liste {
  .element__container__understrek {
    border-bottom: 1px solid @gray-dark;
    margin-bottom: 15px;
  }

  .ingen__data__container {
    margin-bottom: 1em;
  }

  .redigerer-pre-elementer-komponent,
  .redigering-utfort-pre-elementer-komponent {
    margin-bottom: 20px;
  }
}
