@import "../../../../constants";

.flere__redigeringsknapper__liste {
  .elementer__container {
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  .understrek {
    border-bottom: 1px solid @gray-dark;
  }

  .legg__til__knapp {
    margin-top: 30px;
  }
}
