.wrapper {
  border-radius: 4px;
  border: 1px solid #78706a;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  .rdw-editor-toolbar {
    border: none;
    margin-bottom: 0;
  }
}
.editor {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
