.fritekstvedleggSkjema {
  padding-left: 8px;

  &__heading {
    padding-top: 1rem;
  }

  .knapp--hoved {
    margin-top: 1.5rem;
    margin-right: 1rem;
  }

  .knapp--standard {
    margin-top: 1.5rem;
  }

  .typo-undertekst {
    margin-bottom: 0.5rem;
  }

  &__skjema {
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  .row {
    padding: 0 8px;
  }

  .col {
    padding: 0;
  }

  .wrapper {
    background-color: #ffffff;
  }
}
