@import (reference) "~nav-frontend-core/less/_variabler";

.send_brev {
  font-family: "Source Sans Pro", Arial, sans-serif;

  .brevutkast {
    background: @navLysGra;
    border: 1px solid #d8d8d8;
    padding: 1rem;
    margin-bottom: 1rem;

    &__utkast {
      display: block;
      margin: 0.125rem;

      svg {
        vertical-align: bottom;
      }
    }
  }

  .send_brev__apne-nytt-vindu-container {
    display: flex;
    justify-content: right;
  }

  .fritekst_label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .varsel {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hjelpetekst {
    white-space: pre-wrap;
    vertical-align: bottom;
    margin-left: 0.75rem;
    .popover__content-inner {
      width: 500px;
    }
  }

  .alertstripe_feil {
    margin-bottom: 1rem;
  }

  .brevknapp {
    margin: 2rem 1rem 0 0;
  }

  .brukeradresse {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .arbeidsgiver {
    margin-bottom: 1rem;

    &__adresse {
      margin: 0 0 0.5rem 2rem;
    }

    &__radio {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .organisasjonsAdresse {
    margin-bottom: 1rem;
  }

  .normal_font_weight {
    font-weight: normal;
  }

  .tabell {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .forhåndsvisning {
    margin: 0;
    button {
      display: inline-flex;
      text-align: left;
    }
  }

  .brev_sendt {
    margin: 1rem 0;
  }

  .brevfelt__sjekkboks {
    margin-top: 1rem;
  }

  .kopimottakerSjekkboks {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .mottaker__adresselinje {
    font-weight: bold;
    text-transform: capitalize;
  }

  .brev-mottaker-offentlig-etat {
    margin-bottom: 1rem;
  }
}
