.send_brev {
  font-family: "Source Sans Pro", Arial, sans-serif;

  .varsel {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .knapperad {
    margin-top: 1rem;
  }

  .alertstripe_feil {
    margin-bottom: 1rem;

    ul {
      margin: 0;
      margin-left: -1rem;
    }
  }

  .brevknapp {
    margin: 1rem 1rem 0 0;
  }

  .normal_font_weight {
    font-weight: normal;
  }

  .tabell {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .forhåndsvisning {
    margin: 0;

    button {
      display: inline-flex;
      text-align: left;
    }
  }

  .brev_sendt {
    margin: 1rem 0;
  }

  .kopiTilBrukerSjekkboks {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .mottaker__adresselinje {
    font-weight: bold;
    text-transform: capitalize;
  }

  .brevmottaker__norskeMyndigheter {
    margin-bottom: 1rem;
  }

  .brevmottaker__wrapper {
    margin-bottom: 1.5rem;
  }

  .fritekstvedlegg__knapp {
    margin-top: 0.5rem;
  }

  .skjemaelement__label {
    margin: 0;
  }
}
