@import '../../../constants';

.stegFane {
  display: none;
  position: relative;
  flex-direction: column;
  background-color: @white;
  border-left: 6px solid @orange;

  &:before {
    position:absolute;
    content: '';
    width: 30px;
    height: 30px;
    top:-30px;
    left:0.5em;
    border-right:15px solid transparent;
    border-left:15px solid transparent;
    border-bottom:15px solid #ffffff;
  }

  .fane__knapplinje {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2em 0 0 0;
  }

  .fane__navigasjonsknapp {
    display: flex;
    align-self: flex-end;
    margin:0 0 0 1em;
  }

  &.steg0 {
    &:before {
      transform:translateX(0);
    }
  }

  &.steg1 {
    &:before {
      transform:translateX(45px);
    }
  }

  &.steg2 {
    &:before {
      transform:translateX(90px);
    }
  }

  &.steg3 {
    &:before {
      transform:translateX(135px);
    }
  }
}

.stegFane--aktiv {
  display:flex;
}
