@import '../../../utils/mixins';
@import '../../../constants';

.foretakUtland__enkelt {
  border-bottom: 1px solid @gray-dark;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .selvstendigNaeringsvirksomhet {
    margin-top: 2em;
  }
}
