@import '../../utils/mixins';

.fagsak {
  margin-bottom: 1em;
  flex: 1;

  .panelheader {
    margin-bottom: 0.5em;
  }
}

.fagsak__meta {
  display: block;
  margin: 0.5em 0;

  dt {
    float: left;
    clear: left;
    font-weight: bold;
    margin-right: 0.4em;
  }

  dd {
    float: left;
    clear: right;
    margin: 0;
  }
}

.fagsak__behandlinger {
  margin-top: 2em;
}
