@import '../../utils/mixins';

.journalOppgave {
  margin-bottom: 1em;
  flex: 1;
}

.journalOppgave__link:link,
.journalOppgave__link:visited,
.journalOppgave__link:hover {
  color: @black;
  text-decoration: none;
  flex-grow:1;
  display: flex;
}

.journalOppgave__meta {
  display: block;
  margin: 0.5em 0;
}

.journalOppgave__meta__term {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.4em;
}

.journalOppgave__meta__detalj {
  float:left;
  clear: right;
  margin: 0;
}
