.skjema__horisontalefelter {
  display: flex;
  flex-direction: row;

  .skjemaelement--horisontal {
    margin-right: 1em;
  }
}

.skjema__fieldset {
  margin-bottom: 1em;
}

.skjema__legend {
  font-size: 1em;
}
