@import "../../constants.less";

.skjema__horisontalefelter {
  display: flex;
  flex-direction: row;

  .skjemaelement--horisontal {
    margin-right: 1em;
  }
}

.skjema__fieldset {
  margin-bottom: 1em;
}

.skjema__legend {
  font-size: 1em;
}

.skjema__panel {
  overflow-x: auto;
  overflow-y: hidden;
  background: @navLysGra;
  margin-bottom: 2rem;

  .row {
    margin-left: 0;
    margin-right: 0;

    > * {
      min-width: 7.5rem;
      margin-left: 0.75rem;
    }
  }

  .skillestrek {
    border-top: 1px solid #d8d8d8;
    padding: 0.75rem 0;
  }

  .skjema__panel__rad {
    display: flex;
    flex-direction: row;

    .typo-element {
      margin: 0.75rem 0;
    }

    .dato {
      max-width: 7.5rem;
    }

    .slett {
      margin-right: 0.75rem;
      min-width: 2rem;
    }
    .slett__first {
      margin-top: 1.5rem;
    }
  }
}
