.tabeller {
  background-color: #f1f1f1;
  overflow-x: auto;
  width: 100%;
}

.periode_tabell {
  white-space: nowrap;
  width: auto;
}

.avvik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}

.aarVelger {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 10em;
}

h1 {
  margin: 0;
}

.totaltForPerioden {
  align-self: flex-end;
}
