.vurderingAarsavregning {
  .navds-table {
    margin-bottom: 1.5rem;
  }

  .navds-popover {
    p {
      margin: unset;
    }
    ul {
      margin: 0.5rem 0;
      padding-inline-start: 1.5rem;
    }
  }

  .navds-help-text__button {
    padding-top: 0;
  }

  .navds-form-field__readonly-icon {
    display: none;
  }

  .endelige_opplysninger_heading {
    margin-bottom: 1.5rem;
  }

  .informasjonsmeldingIngenInformasjonOmPerioder {
    margin-bottom: 1.5rem;
  }

  .periode_tabell {
    width: auto;
  }

  .avvik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
  }

  .aarVelger {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 7rem;
  }

  h1 {
    margin: 0;
  }

  .totaltForPerioden {
    align-self: flex-end;
  }

  .avgift_input {
    .navds-text-field__input {
      width: 7.5rem;
    }
  }

  .alertstripe_feilmelding {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
