.vurderingAarsavregning {
  .navds-table {
    margin-bottom: 1.5rem;
  }

  .informasjonsmeldingIngenInformasjonOmPerioder {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .ingenInformasjonOmPerioderTittel {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .periode_tabell {
    width: auto;
  }

  .avvik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
  }

  .aarVelger {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 7rem;
  }

  h1 {
    margin: 0;
  }

  .grunnlagsopplysningerSkjema {
    .typo-systemtittel {
      margin-bottom: 1.5rem;
    }

    margin-bottom: 1.5rem;
  }

  .totaltForPerioden {
    align-self: flex-end;
  }

  .tidligere_fakturert_input {
    width: 200px;
    padding-left: 0.5rem;
  }

  .alertstripe_feilmelding {
    margin-bottom: 1.5rem;
  }
}
