@import "../../../../constants.less";

#Årsavregning {
  container-type: inline-size;
}

.vurderingAarsavregning {
  .navds-table {
    margin-bottom: 1.5rem;
  }

  .tall_felt {
    text-align: right;
  }

  .navds-popover {
    p {
      margin: unset;
    }

    ul {
      margin: 0.5rem 0;
      padding-inline-start: 1.5rem;
    }
  }

  .navds-help-text__button {
    padding-top: 0;
  }

  .perioder,
  .bestemmelseSelect,
  .medlemskapsperioder {
    .navds-form-field__readonly-icon {
      display: none;
    }
  }

  .nyVurderingMelding {
    margin-bottom: 1.5rem;
  }

  .endelige_opplysninger_heading {
    margin-bottom: 1.5rem;
  }

  .informasjonsmeldingIngenInformasjonOmPerioder {
    margin-bottom: 1.5rem;
  }

  .periode_tabell {
    width: auto;
  }

  .avvik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
  }

  .aarVelger {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 7rem;
  }

  h1 {
    margin: 0;
  }

  .totaltForPerioden {
    align-self: flex-end;
  }

  .bestemmelseSelect {
    width: fit-content;
  }

  .aarVelger {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: auto 6rem;
    width: fit-content;

    > .navds-form-field__label,
    > .navds-select__container {
      margin: 0;
    }

    > .navds-form-field__error {
      grid-column: 1 / -1;
    }
  }

  .avgift_input {
    .navds-text-field__input {
      width: 7.5rem;
      text-align: right;
    }
  }

  .alertstripe_feilmelding {
    margin-bottom: 1.5rem;
  }

  .endeligAvgiftValg_radio_group {
    .navds-radio-buttons {
      margin-bottom: 0.5rem;

      .navds-radio {
        border-style: solid;
        border-width: 1px;
        border-color: @gray-dark;
        margin: 0;
        padding: 0.75rem;

        &.endeligAvgiftValg_radio_lang {
          flex: 0 1 auto;

          .navds-radio__content,
          .navds-radio__label {
            min-width: 0;
          }

          .navds-radio__label {
            align-items: center;
          }
        }

        &.checked {
          border-color: @blue-nav;
          background-color: @blue-subtle;
        }

        &:hover {
          border-color: @blue-nav;
        }

        &.navds-radio--readonly {
          border-color: @gray-dark !important;
        }
      }
    }
  }

  @container (max-width: 1000px) {
    .endeligAvgiftValg_radio_group {
      .navds-radio-buttons {
        .navds-radio.endeligAvgiftValg_radio_lang {
          flex: 1 1 12rem;
          max-width: max-content;
          min-width: 12rem;
        }
      }
    }
  }

  .navds-expansioncard__content {
    .navds-heading {
      margin-bottom: 1.5rem;
    }

    .totaltForPerioden {
      padding-right: 0.5rem;
    }

    .tidligereGrunnlagPanel,
    .periode_tabell {
      margin-bottom: 1.5rem;
      overflow: auto;
    }
  }

  .tidligereGrunnlag {
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    .tidligereGrunnlagPanel,
    .periode_tabell {
      margin-bottom: 1.5rem;
      overflow: auto;
    }
  }
}
