@import "../../constants";

.stegvelger {
  border-radius: 4px;

  .varselstripe {
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    &__liste {
      margin: 0 0 0 -1rem;
    }
    &__overskrift {
      font-weight: bold;
    }
    .alertstripe__tekst {
      max-width: none !important;
    }
  }

  .fane__fot {
    padding-top: 2em;
  }

  .betingelser__liste {
    margin: 1em 0;
    padding-left: 2em;
    list-style: none;
  }

  .liste__element {
    margin: 0 0 1em 0;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      top: 0;
      left: -2em;
      background-size: contain;
    }
  }

  .liste__element--oppfylt {
    &:before {
      background-image: url("../../resources/images/ikon-steg-ferdig.svg");
    }
  }

  .liste__element--varsel {
    &:before {
      background-image: url("../../resources/images/ikon-steg-varsel.svg");
    }
  }
  .liste__element--ikkeoppfylt {
    &:before {
      background-image: url("../../resources/images/ikon-steg-feil.svg");
    }
  }
}
