.modalEndreBehandling {
  .innhold {
    margin-top: 18px;
    margin-left: 52px;
    margin-right: 52px;

    .skjemaelement {
      width: 29em;
    }

    .feilmeldingliste {
      margin: 0;
    }
  }

  .infomelding {
    margin-bottom: 1rem;
  }

  &.skjulBakgrunn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0;
    }
  }

  .container__knapperad {
    margin-left: 52px;
    padding-top: 40px;
  }

  &.alert {
    background-color: unset;
  }
}
