@import (reference) "~nav-frontend-core/less/_variabler";

.oppsummering {
  .dl {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .hoyrestill {
    width: auto;
    float: right;
  }

  .kursiv {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .behandlingstype {
    font-size: 1.125rem;
  }

  .svarfrist {
    margin-left: 1rem;
  }

  .kopier-saksnummer {
    .kopierbar-tekst__container {
      button {
        color: @navMorkGra;
      }
    }
  }

  .saksinfo {
    border-radius: 0;
    border: 1px solid @navGra20;
    background-color: @navLysGra;

    .endre-knapp {
      background-color: @white;
    }
  }
}
