@import "../../constants.less";

.oppsummering {
  margin-bottom: 0.5em;

  .datarad {
    padding-left: 20px;
  }

  .saksinfo {
    margin-top: 12px;
    margin-bottom: 16px;
    border-radius: 0;
    border: 1px solid @navGra20;
    background-color: #f8f8f8;

    .typo-undertittel {
      padding-bottom: 1rem;
    }

    .status-resultattype-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .behandlingsstatus {
        margin-top: 12px;
      }
      .behandlingsresultattype {
        max-width: fit-content;
        background-color: #e6e6e6;
        border-color: #979797;
      }
    }

    .knapp__container {
      float: right;
      background: white;

      svg {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: 600;
  }

  .behandlingstype {
    font-size: 1.125rem;
  }

  .kopier-saksnummer {
    .kopierbar-tekst__container {
      button {
        color: @navMorkGra;
      }
    }
  }
}
