@import (reference) "~nav-frontend-core/less/_variabler";

.oppsummering {
  .datarad {
    padding-left: 20px;
  }

  .saksinfo {
    margin-top: 12px;
    margin-bottom: 16px;
    border-radius: 0;
    border: 1px solid @navGra20;
    background-color: #f8f8f8;

    .typo-undertittel {
      padding-bottom: 1rem;
    }

    .behandlingsstatus {
      display: flex;
      margin-top: 12px;

      span {
        margin-left: 4px;
      }
    }

    .endre-knapp {
      background-color: @white;

      &:hover {
        background-color: @navBla;
        stroke: @white;
        stroke-width: 2px;
      }
    }
  }

  .hoyrestill {
    width: auto;
    float: right;
  }

  .kursiv {
    font-style: italic;
  }

  .bold {
    font-weight: 600;
  }

  .behandlingstype {
    font-size: 1.125rem;
  }

  .svarfrist {
    margin-left: 1rem;
  }

  .kopier-saksnummer {
    .kopierbar-tekst__container {
      button {
        color: @navMorkGra;
      }
    }
  }
}
