.oppsummering {
  .dl {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .hoyrestill {
    width: auto;
    float: right;
  }

  .kursiv {
    font-style: italic;
  }

  .behandlingstype {
    font-size: 1.125rem;
  }

  .svarfrist {
    margin-left: 1rem;
  }
}
