.medlemskapsperioder {
  .medlemskapsperioder__label {
    font-weight: bold;
  }

  .navds-form-field {
    display: block;
  }

  .navds-label--small {
    min-height: 1.35rem;
  }

  .skjema__panel {
    padding-top: 1rem;

    .skjema__panel__rad {
      .trygdedekning {
        min-width: 14rem;
        width: 23rem;
      }
    }
  }
}
