.medlemskapsperioder {
  .medlemskapsperioder__label {
    font-weight: bold;
  }

  .skjema__panel {
    .skjema__panel__rad {
      .trygdedekning {
        min-width: 14rem;
        width: 23rem;
      }
    }
  }
}
