.medlemskapsperioder {
  .medlemskapsperioder__label {
    font-weight: bold;
  }

  .navds-form-field {
    display: flex;
    flex-direction: column;
  }

  .navds-label--small {
    min-height: 1.35rem;
  }

  .skjema__panel {
    .skjema__panel__rad {
      padding-top: 1rem;
      .trygdedekning {
        min-width: 14rem;
        width: 23rem;
      }
    }
  }
}
