.wrapper_periodeelementer {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .periodeelementer {
    display: flex;
    align-items: center;
    flex-direction: row;

    .fomDato {
      margin-left: 0;
    }

    > * {
      min-width: 7.5rem;
      margin-left: 0.5rem;
    }

    .trygdedekning {
      width: 23rem;
    }

    .slett {
      min-width: 4rem;
      padding-bottom: 1rem;
      margin-left: 1rem;
    }
  }
}
