.vurderingPerioder {
  .hjelpetekst {
    width: 24px;
    height: 24px;
  }
  .info_element {
    display: inline-block;
    padding-right: 0.25rem;
  }
  .labelRad {
    margin-bottom: 0.5rem;
  }
  .medlemskapsperiodeFeil {
    margin-bottom: 1rem;
  }
  .leggTilKnapp {
    margin-top: -4px;
    margin-bottom: 1rem;
  }
  .slettKnapp {
    margin-top: 0.25rem;
  }
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }
  .infomelding {
    margin-top: 0.5rem;
  }
}
