.vurderingPerioder {
  .info_element {
    display: inline-block;
    padding-right: 0.25rem;
  }
  .informasjonstekst {
    margin-bottom: 1rem;
  }
  .medlemskapsperiodeFeil {
    margin-bottom: 1rem;
  }
  .leggTilKnapp {
    margin-top: -4px;
    margin-bottom: 1rem;
  }
  .slettKnapp {
    margin-top: 0.25rem;
  }
  .alertstripe_feilmelding {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .ukjentSluttdato {
    margin-bottom: 1.5rem;
  }
}
