@import "../../constants";

.undertittel {
  &__tekst {
    margin-right: 0.5em;
  }

  &__ikon {
    height: 25px;
  }

  &__ikon-venstre {
    margin-right: 0.5em;
  }

  &__ikon-hoyre {
    margin-left: 0.5em;
  }

  &__navUndertittel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
  }

  &--understrek {
    border-bottom: 1px solid @gray-dark;
  }
}
