@import '../../constants';

.undertittel {
  .ikon {
    margin-right: 0.5em;
    height: 25px;
  }

  .navUndertittel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
  }

  .understrek {
    border-bottom: 1px solid @gray-dark;
  }
}
