@import "../../constants";

.undertittel {
  .tekst {
    margin-right: 0.5em;
  }

  .ikon {
    height: 25px;
  }

  .ikon-venstre {
    margin-right: 0.5em;
  }

  .ikon-hoyre {
    margin-left: 0.5em;
  }

  .navUndertittel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
  }

  .understrek {
    border-bottom: 1px solid @gray-dark;
  }
}
