@import '../../../../constants';

.fullmektige {
  .enkelt__fullmektig {
    margin-bottom: 40px;
  }

  .enkelt__fullmektig:last-of-type {
    margin-bottom: 0;
  }

  .legg__til__knapp {
    margin-top: 10px;
    display: block;
  }
}
