@import '../../../../constants';

.fullmektige {
  .enkelt__fullmektig {
    margin-bottom: 40px;
  }

  .enkelt__fullmektig:not(:last-child) {
    border-bottom: 1px solid @gray-dark;
    padding-bottom: 10px;
  }

  .legg__til__knapp {
    margin-top: 20px;
    display: block;
  }
}
