.fullmektig__redigering__utfort {
  > * {
    margin-bottom: 15px;
  }

  .brevinfo {
    margin-bottom: 0;
  }

  .checkmark {
    margin-right: 0.5em;
  }

  .representerer__tekst {
    display: inline,
  }
}
