.vurderingVedtak {
  .melosys__table-wrapper {
    margin-left: 0.5rem;
  }

  .stegKnapper {
    margin-left: 0.5rem;
  }

  .midtstilt {
    text-align: center;
  }

  .forhåndsvisning {
    margin: 0;
    button {
      display: inline-flex;
      text-align: left;
    }
  }

  .slettKnapp {
    text-align: center;
    cursor: pointer;
  }

  .normal_font_weight {
    font-weight: normal;
  }

  .info {
    padding-left: 0.5em;
  }

  .trygdeavgift_ikon {
    width: 21px;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    float: left;
  }

  .fritekst_overskrift {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    .hjelpetekst {
      width: 20px;
      height: 20px;
    }
  }

  .fritekst_editor {
    margin-left: 0.5rem;
    margin-bottom: 2rem;
  }

  .pdfLenkeListe {
    margin: 0;
    padding-left: 3px;
    display: inline-block;
  }

  .margin_bottom {
    margin-bottom: 2rem;
  }

  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .hjelpetekst {
    white-space: pre-wrap;
  }
}
