.vurderingInngang {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }
  .alert {
    margin-bottom: 0.5rem;
  }
  .hjelpetekst {
    width: 20px;
    height: 20px;
  }
  .label__container {
    margin-bottom: 1rem;
  }
}
