.vurderingRepresentant {
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .representantnummer {
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;
  }
  .representantadresse {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .hjelpetekst {
    white-space: pre-wrap;
  }
  .valgfritt {
    font-weight: normal;
    color: #78706a;
  }
  .velg-representantnummer {
    margin-bottom: 0;
  }
  .representantData {
    background-color: #e7e9e9;
    padding: 0.75rem;
    margin-left: 2rem;
    .dataelement {
      margin: 0 0 0.5rem 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
