.vurderingVirksomhet {
  .hjelpetekst {
    .popover__content-inner {
      width: 550px;
    }
    margin-left: 0.75rem;
    vertical-align: bottom;
  }
  .undertittel {
    margin-bottom: 1.5rem;
  }
}
