.vurderingPerioder {
  .hjelpetekst {
    width: 24px;
    height: 24px;
  }
  .info_element {
    display: inline-block;
    padding: 0 0.25rem 0.5rem 0;
  }
  .understrek {
    border-bottom: 1px solid #b7b1a9;
  }
  .leggTilKnapp {
    margin-top: -4px;
    margin-bottom: 1rem;
  }
  .slettKnapp {
    float: right;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }
  .undertittel {
    margin-bottom: 1.5rem;
  }
}
