.vurderingInngang_ftrl {
  .søknads_periode_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .søknads_periode {
      display: flex;
      align-items: center;
      flex-direction: row;
      min-width: 640px;

      .fomDato {
        margin-left: 0;
      }

      > * {
        min-width: 7rem;
        margin-left: 0.5rem;
      }
    }
  }
  .stegvelgertittel {
    margin-bottom: 2rem;
  }
  .alert {
    margin-bottom: 0.5rem;
  }
  .hjelpetekst {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
  }
  .label__container {
    margin-bottom: 1rem;
  }
  .inkluderSiste5Aar {
    margin: 0.25rem 0 0.75rem 0.5rem;
  }
}
