@import '../../utils/mixins';

.arbeidUtland {
  .arbeidUtland__enkelt {
    border-bottom: 1px solid @gray-dark;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .arbeidUtland__leggtil {
    float:right;
  }
}
