@import '../../constants';

.pdfLinkListe {

  button {
    display: block;
    border:0;
    padding:0;
    outline: 0;
    background: transparent;
    color: @blue-nav;
    cursor: pointer;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }
}
