.inntektskilder {
  .skjema__panel__rad {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .arbgiverskatt {
    min-width: 13rem;
  }
  .skjema__panel {
    // Litt hacky, men ordner alignment av labels da to av de har faste linebreaks
    .typo-element {
      height: 2.75rem;
    }

    .inntektskilde {
      min-width: 10rem;
      width: 16rem;
    }

    .brutto_inntekt {
      display: flex;
      white-space: break-spaces;
      flex-direction: row;
      align-items: flex-end;

      input {
        min-width: 12rem;
      }
      .ikon-knapp {
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
      }
    }

    .navds-label--small {
      line-height: normal;
    }

    .ikkeRelevant {
      margin: 0 0 1rem 0;
      height: 2rem;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }

      .undertekst {
        padding-top: 0.25rem;
      }
    }
  }
}
