.inntektskilder {
  .skjema__panel__rad {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .arbgiverskatt {
    min-width: 13rem;
  }

  .fjernlinje {
    margin-left: 4rem;
  }
  .skjema__panel {
    // Litt hacky, men ordner alignment av labels da to av de har faste linebreaks
    .typo-element {
      height: 2.75rem;
    }

    .inntektskilde {
      min-width: 10rem;
      width: 16rem;
    }

    .brutto_inntekt {
      display: flex;
      white-space: break-spaces;
      flex-direction: row;
      input {
        min-width: 12rem;
        max-height: 2rem;
        min-height: 2rem;
      }
    }
    > :first-child  {
      .ikon-knapp {
        margin-top: 2rem;
      }
    }

    .ikon-knapp {
      margin-left: 1.5rem;
    }

    .navds-label--small {
      line-height: normal;
    }

    .total_periode {
      display: flex;
      margin-left: 8rem;

      input {
        min-width: 12rem;
        max-height: 2rem;
        min-height: 2rem;
      }
    }

    .ikkeRelevant {
      min-width: 12rem;
      margin: 0 0 1rem 0;
      height: 2rem;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
      }

      .undertekst {
        &.med-overskrift {
          padding-top: 1rem;
        }
        &.uten-overskrift {
          padding-top: 0.25rem;
        }
      }
    }
  }
}
