.skatteforholdsperioder {
  max-width: 41.375rem;
  margin-left: 0.5rem;

  .skjema__panel__rad {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .skattepliktig {
    min-width: 15rem;
    display: flex;
    white-space: break-spaces;
    justify-content: center;
    flex-direction: row;

    .ikon-knapp {
      margin-left: 0.5rem;
      margin-bottom: 0.25rem;
      align-self: flex-end;
    }
  }

  .skatteforholdsperioder-radio-group {
    min-width: 10rem;
    justify-content: flex-start;
  }
}
