.skatteforholdsperioder {
  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .navds-radio-buttons {
    margin-bottom: 0;
  }

  .legg-til__rad {
    margin: 0.5rem 0 1rem 0;
  }

  .skatteforhold__rad {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 0 0 0;
    margin: 0;
    border-bottom: 1px solid #979797;
    width: fit-content;

    &:first-child {
      .slett__knapp {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
      }
    }

    .slett__knapp {
      margin-left: 0.75rem;
    }

    .dato {
      width: 7.5rem;
      margin-right: 0.75rem;
    }

    .skattepliktig {
      line-height: 1.5rem;
      display: grid;
    }

    .datovelger__feilmelding {
      margin-bottom: 0;
    }
  }
}
