.skatteforholdsperioder {
  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .legg-til__rad {
    margin: 0.5rem 0;
  }

  .skatteforhold__rad {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: 0;
    border-bottom: 1px solid #979797;
    width: fit-content;

    > * {
      min-width: 7.5rem;
      margin-left: 0.5rem;
    }

    :first-child {
      margin-left: 0;
    }

    &:first-child {
      .slett__knapp {
        margin-top: 1.5rem;
      }
    }

    .slett__knapp {
      display: flex;
      justify-content: flex-end;
    }

    .navds-radio-buttons {
      margin-bottom: 0;
    }

    .datovelger__feilmelding {
      margin-bottom: 0;
    }
  }
}
