.vurderingInngang {


  .oppholdsland__linje {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
  }

  .oppholdsland__landNavn {
    width: 200px;
  }

  .oppholdsland__fjerning {
    display: flex;
    flex-direction: row;
    margin-top: -1em;
    align-items: center;
    flex: 1;
  }

  .oppholdsland__fjerning__knapper {

  }
}
