@import (reference) "~nav-frontend-core/less/_variabler";
@import "../../constants";

.dokumentliste {
  margin: 1em 0;

  &__vis_dokument_knapp {
    display: block;
    border: 0;
    padding: 2px;
    outline: 0;
    background: transparent;
    color: @blue-nav;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px @fokusFarge;
    }
  }

  .varsel {
    margin: 1em 0;
  }
}
