.personlinje {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  height: 48px;
}

.personlinje__personinfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .personlinje__separator {
    margin-left: 20px;
    margin-right: 15px;
  }

  .personlinje__navn {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ikon-kjoenn {
      height: 24px;
      width: 24px;
      margin-right: 8px;
      margin-left: 32px;
    }
  }

  .personlinje_dod {
    display: flex;
    margin-left: 10px;

    .ikon-doed {
      height: 24px;
      width: 24px;
    }
  }

  .personlinje__fnr {
    .fnr {
      display: flex;
      .kopier-ikon {
        margin-left: 5px;
        width: 24px;
        height: 24px;
      }
      &:hover {
        background-color: #e6e6e6;
      }
    }

    .kopier-hovertekst {
      position: absolute;
      top: 20px;
      border-radius: 3px;
      padding: 7px;
      background-color: #fff;
    }
  }
}

.personlinje__behandlingsmeny {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .hamburger {
    margin-right: 34px;
  }
}
