.arbeidssted__offshore__redigerer {
  display: flex;

  *:first-child {
    flex: 1;
  }

  .slett__knapp {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
  }
}
