.periode_tabell {
  margin-bottom: 2rem;
  margin-top: 2rem;
  .border_bottom {
    border-bottom: 1px solid #d8d7d6;
    border-top: none;
  }
  th {
    border-bottom: 1px solid #000000;
    color: #3E3832;
  }
}

.info {
  padding-left: 0.5em;
}

.trygdeavgift_ikon {
  width: 21px;
  height: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  float: left;
}

.fritekst_overskrift {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  .hjelpetekst {
    width: 20px;
    height: 20px;
  }
}

.fritekst_editor {
  margin-left: 0.5rem;
}

.pdfLenkeListe {
  margin: 0;
  display: inline-block;
}
