.column {
  float: left;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.extra_left_margin {
  margin-left: 1rem;
}
.sub_undertittel {
  font-size: 18px;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.overstrek {
  border-top: 1px solid #b7b1a9;
}

.hjelpetekst {
  vertical-align: bottom;
}
.beregn_knapp {
  text-transform: none;
  padding-right: 1rem;
  padding-left: 1.25rem;
  margin-top: 30px;
  margin-bottom: 1.75rem;
  .beregn_ikon {
    width: auto;
    height: auto;
    fill: none;
    position: absolute;
    left: 1rem;
  }
}
.knapp:disabled, .knapp--disabled {
  background-color: #ffffff;
  border-color: #78706A;
  color: #78706A;
}
.periode_tabell {
  border-collapse: collapse;
  width:100%;
  margin:1em 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  th {
    text-align:left;
    padding:0.2em 0.5em;
    color: #78706A;
  }

  .border_top {
    border-top: 1px solid #d8d7d6;
  }

  td {
    padding: 0.5em 0.5em;
  }
}
.alertstripe {
  &__advarsel {
    margin-bottom: 2rem;
  }
  &__info {
    margin-bottom: 0.5rem;
  }
}

