.vurderingRepresentant {
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .representantnummer {
    margin-bottom: -0.5rem;
    margin-left: 0.5rem;
  }
  .representantadresse {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .hjelpetekst {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    .popover__content-inner {
      width: 500px;
    }
  }
  .valgfritt {
    font-weight: normal;
    color: #78706a;
  }
  .velg-representantnummer {
    margin-bottom: 0;
  }
}
