.vurderingFamilie {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .alertstripe {
    margin-bottom: 0.5rem;
  }
  .familiemedlem_radio {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .fritekst {
    margin-top: 0.5rem;
  }
}
