.postadresse_tittel {
  font-weight: 600;
  margin-top: 0.8em;
}

.fullmektig {
  margin-bottom: 3em;
}

.fullmektig:not(:last-child) {
  border-bottom: 1px solid grey;
  padding-bottom: 1.5em;
}

.radioknapper {
  margin-top: 1em;
}

.sokKnapp {
  margin-top: 1.9em;
}
