@import (reference) "~nav-frontend-core/less/_variabler";

.personstatus-modal {
  max-width: 1024px;

  width: 95%;
  @media (min-width: @screen-lg-min) {
    width: 80%;
  }

  &__historikk {
    padding-top: 2rem;
  }
}
