.opprettnysak {
  width: 100%;

  .undertittel {
    margin-bottom: 0.7em;
  }

  .navnTittel {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .navn {
    display: inline-block;
  }

  .marginBottom {
    margin-bottom: 3em;
  }

  .innrykk {
    margin-left: 2em;
  }

  .skalTilordnes {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .formError {
    margin-bottom: 1.5em;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.75rem;
  }

  .hovedpart {
    margin-bottom: 2em;
    .inputPanelGruppe__inner {
      display: flex;

      .radioPanel {
        flex: 1;
        margin: auto 0.2rem;
      }
      .inputPanel:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .alertstripe {
    margin-top: 2rem;
  }
}
