.opprettnysak {
  width: 100%;
  padding-top: 8px;

  .seksjon {
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: white;
    padding: 12px;

    .marginMellomCustomRadioPaneler {
      margin-top: 0.5em;
      .fieldset__legend {
        margin-bottom: 0;
      }
    }
  }

  .undertittel {
    margin-bottom: 0.7em;
  }

  .navnTittel {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .navn {
    display: inline-block;
  }

  .marginBottom {
    margin-bottom: 3em;
  }

  .innrykk {
    margin-left: 2em;

    .fagsakVelger {
      .panelramme {
        background: transparent;
        padding: 0;
        border: none;
      }

      .ingenSaker {
        margin: 0;
      }
    }
  }

  .formError {
    margin-bottom: 1.5em;
  }

  .hjelpetekst {
    white-space: pre-wrap;
  }

  .hovedpart {
    .inputPanelGruppe__inner {
      display: flex;

      .radioPanel {
        flex: 1;
        border-radius: 0;
        margin: auto 0.2rem;
        box-sizing: border-box;
        border: 1px solid #979797;
      }
      .inputPanel:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
