.opprettnysak {
  width: 100%;

  .undertittel {
    border-bottom: 1px solid #7f7f7f;
    margin-bottom: 0.7em;
  }

  .brukernavnskjema {
    margin-bottom: 3em;
  }

  .innrykk {
    margin-left: 2em;
  }

  .skalTilordnes {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .formError {
    margin-bottom: 1.5em;
  }
}
