@coreModulePath: "../../../../node_modules/";
@frontendModuler: "@{coreModulePath}nav-frontend-";
@import "@{frontendModuler}core/less/core";

.wrapper {
  border-radius: 4px;
  border: 1px solid @navGra60;
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 8rem;
  .rdw-editor-toolbar {
    border: none;
    margin-bottom: 0;
    background: @navLysGra;
  }
  .rdw-dropdown-wrapper {
    background: @navLysGra;
  }
  .rdw-option-wrapper {
    background: @navLysGra;
  }
  .public-DraftStyleDefault-block {
    margin: 0.5rem 0;
  }
}
.editor {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
