.oppholdsland__liste {
  .oppholdsland__linje, .fjernetland__linje, .leggtilland__linje {
    margin-bottom: 1em;
  }

  .leggtilland__linje__begrunnelse {
    margin-left: 1em;
  }

  .leggtilland__linje__knapper {
    margin-top: 0.9em;

    .knapp {
      margin-left: 1em;
    }
  }

  .oppholdsland__begrunnelse, .fjernetland__begrunnelse {
    padding-right: 20px;
  }

  .oppholdsland__fjerning {
    margin-top: -1em;
    align-items: center;
    flex: 1;
  }

  .oppholdsland__fjerning__knapper {
    margin-top: 0.8em;

    .fjern__bekreft, .fjern__avbryt {
      margin-right: 0.5em;
    }
  }
}
