@import '../../constants';

.brevBestilling {
  .lesMerPanel {
    padding: 0 0 1rem 0;

    .lesMerPanel__toggle {
      justify-content: flex-start;

      .nav-frontend-chevron {
        display: none;
      }
    }
  }

  .varsel {
    margin: 1em 0;
  }
}
