@import '../../constants';

.sideDialogDokumenter {
  ul {
    list-style: none;
    padding:0;
  }

  a {
    display: inline-block;
    clear:both;
  }

  a:link, a:visited, a:hover {
    color: black;
  }
}
