@import '../../utils/mixins';

.minesaker {

}

.minesaker__minsak {
  margin: 1em 0;
}

.minsak__link:link,
.minsak__link:visited,
.minsak__link:hover {
  color: @black;
  text-decoration: none;
  flex-grow:1;
  display: flex;
}

.minsak__meta {
  display: block;
  margin: 0;
}

.minsak__meta__term {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.4em;
}

.minsak__meta__detalj {
  float:left;
  clear: right;
  margin: 0;
}
