.linkgroup {
  margin: 1em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &__label {
    padding: 0 1.75rem 0.4rem 1.75rem;
    color: #78706a;
    position: relative;
    margin-bottom: 0.5rem;
  }

  &__label:before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid #c6c2bf;
  }
}
