.linkgroup {
  margin: 1em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &__label {
    padding: 0.75rem 1rem 0.5rem 1rem;
    color: #78706a;
    position: relative;
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: 1200px) {
    &__label {
      padding-left: 0.75rem;
    }
  }

  &__label:before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid #c6c2bf;
  }
}
