.side-meny {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fff;
    border-right: 1px solid #b7b1a9;
    width: 100%;
  }

  &__link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__heading.typo-normal {
    margin: 0 1rem 1.5rem;
    padding: 0 1rem;
    height: 2rem;
    color: #3e3832;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__heading {
    padding: 1rem 0 0 1rem;

    @media only screen and (max-width: 1200px) {
      padding-left: 0.5rem;
    }
  }
}
