@import '../../../utils/mixins';
@import '../../../constants';

.oppsummering__meny {
  position: absolute;
  z-index: 2;
  background-color: @white;
  border: 2px solid @blue-nav;
  border-radius: 4px;

  .ekspanderbartPanel__hode {
    padding: 0.3em 0.4em;
  }

  .ekspanderbartPanel__innhold {
    padding: 0.2em;
  }

  .ekspanderbartPanel__indikator {
    color: @blue-nav;
  }
}

.meny__innhold {
  display: flex;
  flex-direction: column;
  padding: 0;

  .innhold__element {
    margin: 0.2em;
  }
}

.behandlingsmeny_title {
  color: @blue-nav;
  font-weight: bold;
}
