@import '../../constants';

.vilkarsvurdering {
  background-color: @gray;
  padding-bottom:1px; //Bad hack. TODO: Fikse border bottom collapse.
}

.vilkarsvurdering__fane {
  display: flex;
  flex-direction:column;
  background-color: @white;
  margin:0 0.5em 0.5em 0.5em;
  padding:0.5em;

  .fane__nesteknapp {
    display: flex;
    align-self: flex-end;
  }
}
