@import '../../constants';

.vilkarsvurdering {
  background-color: @gray;
  margin:0 0 0.5em 0;
  padding:1em;
  border-radius:5px;

  .typo-element {
    margin-top:1em;
  }

  .fane__fot {
    padding-top:2em;
  }
}

