@import '../../../constants';

.stegFane {
  display: none;
  position: relative;
  flex-direction: column;
  background-color: @white;
  border-left: 6px solid @orange;

  .fane__knapplinje {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2em 0 0 0;
  }

  .fane__navigasjonsknapp {
    display: flex;
    align-self: flex-end;
    margin:0 0 0 1em;
  }

  @stegSpacing: 70px;

  &.steg0 {
    &:before {
      transform:translateX(@stegSpacing * 0);
    }
  }

  &.steg1 {
    &:before {
      transform:translateX(@stegSpacing * 1);
    }
  }

  &.steg2 {
    &:before {
      transform:translateX(@stegSpacing * 2);
    }
  }

  &.steg3 {
    &:before {
      transform:translateX(@stegSpacing * 3);
    }
  }

  &.steg4 {
    &:before {
      transform:translateX(@stegSpacing * 4);
    }
  }

  &.steg5 {
    &:before {
      transform:translateX(@stegSpacing * 5);
    }
  }

  &.steg6 {
    &:before {
      transform:translateX(@stegSpacing * 6);
    }
  }

  &.steg7 {
    &:before {
      transform:translateX(@stegSpacing * 7);
    }
  }

  &.steg8 {
    &:before {
      transform:translateX(@stegSpacing * 8);
    }
  }

  &.steg9 {
    &:before {
      transform:translateX(@stegSpacing * 9);
    }
  }
}

.stegFane--aktiv {
  display:flex;
}
