@import '../../../../constants';
@import '../../../../utils/mixins';

.person {
  .registrerteAdresser {
    margin-top: 40px;
  }

  .oppgittAdresse {
    margin-bottom: 40px;
  }

  .person__detaljer {
    .beskrivliste-mixin('col');
  }

  .fraregister__etikett {
    float: right;
  }
}

.adresse__rad {
  display: flex;
  align-items: center;
}
