@import "../../../../constants";
@import "../../../../utils/mixins";

.person {
  .registrerteAdresser,
  .statsborgerskapsliste-row {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .statsborgerskapsliste-row {
    &__tittel {
      margin-bottom: 1em;
    }
  }

  .oppgittAdresse {
    margin-bottom: 40px;
  }

  .person__detaljer {
    .beskrivliste-mixin("col");
  }

  .etikett__container {
    display: flex;
    justify-content: flex-end;
  }
}

.adresse__rad {
  display: flex;
  align-items: center;
}
