.dialogboksOppfriskBehandling {
  &.skjulBakgrunn {
    background-color: transparent;
    overflow: hidden;
    margin-top: 0;
    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0px;
    }
  }

  .spinner {
    display: block;
    margin: 0 auto;
  }

  .overskrift {
    text-align: center;
  }

  .tekst {
    padding: 0.5em 0;
  }

  .knapperadcontainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 1em;

    .navds-button {
      margin: 0 0.5em 0 0;
    }
  }
}
