.labelMedHjelpetekst__hjelpetekst {
  margin-left: 0.5rem;
  vertical-align: bottom;
}

.labelMedHjelpetekst__wrapper {
  display: inline-flex;
  align-self: center;

  .undertittel {
    line-height: 1.5625rem;
  }

  .navds-popover__content {
    font-size: 1rem;
  }

  .navds-help-text__popover.navds-popover {
    max-width: fit-content;
  }

  .small {
    font-size: 1rem;
  }
}
