.labelMedHjelpetekst__hjelpetekst {
  margin-left: 0.5rem;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}

.labelMedHjelpetekst__wrapper {
  white-space: normal;
  display: inline-flex;
  align-self: center;

  .navds-popover__content {
    font-size: 1rem;
  }

  .small {
    font-size: 1rem;
  }
}
