.opprettnysak {
  .opprettnysak__soknadsperiode {
    margin-top: 1em;
  }

  .opprettnysak__knapper {
    display: flex;
    flex-direction: row;

    .knapp {
      margin: 0 0 0 0em;
    }
  }

  .sok__spinner {
    float: right;
    margin-top: -3.2em;
  }
}
