.behandlingsstatus {
  &__behandlingsstatusMedSaksfrist {
    .behandlingsstatus__behandlingsstatus {
      display: initial;
    }
  }
  &__span {
    margin-left: 4px;
  }

  &__behandlingsstatus {
    display: flex;
  }
}
