@import (reference) "~nav-frontend-core/less/_variabler";

.kopierbar-tekst {
  position: relative;

  &__container {
    button {
      border: 0;
      background-color: inherit;
      padding: 0;
    }
    &__hover {
      background-color: @navLysGra;
    }
  }

  &__hovertekst {
    position: absolute;
    bottom: 24px;
    border-radius: 4px;
    border: 1px solid @navGra60;
    padding: 7px;
    background-color: white;
  }

  &__kopier-ikon {
    width: 18px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
  }
}
