.kopierbar-tekst {
  position: relative;

  &__container {
    button {
      border: 0;
      background-color: inherit;
    }
  }

  &__hovertekst {
    position: absolute;
    bottom: 24px;
    right: -20px;
    width: 110%;
    border-radius: 3px;
    padding: 7px;
    background-color: white;
  }

  .kopier-ikon {
    width: 18px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
  }
}
