.sorteringRadiogruppe {
  display: flex;
  padding-top: 0.25em;

  legend {
    float: left;
    padding-right: 0.75em;
  }

  .skjema__legend {
    padding-top: 1.5em;
  }

  .radio {
    padding-right: 1em;
  }
}
