.sorteringRadiogruppe {
  padding-left: 1.3rem;
  font-size: 1.125rem;
  margin-bottom: 1em;

  .skjema__legend {
    padding-top: 1.5em;
  }

  div {
    display: flex;
    flex-direction: row;

    .radio {
      padding-right: 1em;
    }
  }
}
