.kopierbar-tekst {
  .kopierbar-tekst__container {
    background-color: white;
    will-change: background-color;
    transition: 500ms all ease;
  }

  .kopierbar-tekst__container--kopiert {
    background-color: gray;
  }

  .kopier-ikon {
    cursor: pointer;
    width: auto;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
  }
}
