.behandlinger-liste {
  background-color: #ECEEF0;
}

.behandling-rad {
  margin-bottom: 1rem;
}

.behandling-tittel {
  font-weight: 500;
}

.toggle-button-container {
  border-top: 1px solid #C6C2BF;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
} 