.enkeltSak {
  .tittel {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .saksnummer {
      font-weight: normal;
    }
  }

  .behandlingsstatus {
    display: flex;
    margin-top: 0.5rem;
    span {
      margin-left: 4px;
    }
  }

  .behandlingstype {
    margin-bottom: 0.5rem;
  }
}
