.enkeltSak {
  .tittel {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .sideTittel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 20px;
      width: 20px;
      margin-left: 0.25rem;
    }
  }

  .behandlingsstatusSvarfrist-wrapper {
    margin-top: 0.5rem;
  }

  .behandlingstype {
    margin-bottom: 0.5rem;
  }
}
