.enkeltSak {
  .tittel {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .behandlingsstatusSvarfrist-wrapper {
    margin-top: 0.5rem;
  }

  .behandlingstype {
    margin-bottom: 0.5rem;
  }

  // Target the list elements
  dl {
    width: 100%;
  }

  dt {
    width: 100%;
  }

  dd {
    width: 100%;
  }
}
