.informasjon {
  .informasjonOmAvsenderTittel {
    margin-bottom: 1em;
  }

  .avsenderVelger {
    margin-bottom: 2.5em;
  }

  .undertittel {
    margin: 1em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .brukers-navn {
    margin-top: 1em;
  }
}
