.informasjon {

  .informasjon__dokumentlenke {
    display: block;
    margin: 0 0 1em 0;
  }

  .informasjon__spinner {
    float: right;
    margin-top: -3.2em;
  }

  .informasjonOmAvsenderTittel {
    margin-bottom: 1em;
  }

  .avsenderVelger {
    margin-bottom: 2.5em;
  }
}
