// @import '../../../constants';
// @import '../../../utils/mixins';

.undertittel {
  border-bottom: 1px solid #7f7f7f;
  margin: 1em 0;
}

.oversteUndertittel {
  margin-top: 0;
}

.fetTekst {
  font-weight: bold;
}
