.journalforingGjelder {
  .inputPanelGruppe__inner {
    display: flex;

    .radioPanel {
      flex: 1;
      margin: auto 0.2rem;
    }

    .inputPanel:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
