.undertittel {
  border-bottom: 1px solid #7f7f7f;
  margin: 1em 0;

  img {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
  }
}
.elementTittel {
  margin: 1em 0;

  img {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
  }
}

.oversteUndertittel {
  margin-top: 0;
}

.fetTekst {
  font-weight: bold;
}
