.knyttTilSak {
  &__behandlingspanel {
    display: flex;
    flex-direction: row;
    background: #e7e9e9;
    border: 1px solid #979797;
    padding: 0.5em;

    .skjemaelement {
      align-self: center;
      margin: 0.5rem 0 0.5rem 2em;
    }

    .feilmelding_innrykk {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  &__panelramme {
    background: #e7e9e9;
    border: 1px solid #979797;
    padding: 0.5em;

    .select__slim {
      margin-bottom: 0.5rem;
    }

    .behandlingstema__label {
      margin-bottom: 1rem;
    }

    .nyBehandlingEllerUtenBehandling,
    .vurderDokument {
      margin-top: 1rem;
    }

    .anmodningSvarSendt,
    .tidligereBehandlingAvsluttet {
      margin-bottom: 1rem;
    }

    .panelElement {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    .overskrift {
      margin-bottom: 1rem;
      font-size: 18px;
    }

    .behandlingstype {
      .fieldset__legend {
        font-family: "Source Sans Pro", Arial, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        display: block;
        line-height: 1.4;
        margin-bottom: 0.5rem;
      }
    }
  }
}
