.behandlingspanel {
  display: flex;
  flex-direction: row;
  background: lightgray;
  border: 1px solid #b7b1a9; /* TODO HENT FARGE */
  border-radius: 3px;
  margin: 0.5em 0;
  padding: 0.5em;

  .skjemaelement {
    align-self: center;
    margin: 0.5rem 0 0.5rem 2em;
  }
}
