.panelramme {
  background: #e7e9e9;
  border: 1px solid #979797;
  border-radius: 0;
  margin: 0.5em 0;
  padding: 0.5em 0.5em 1.25em 1.25em;
}

.landcheckbox {
  padding-left: 8px;

  .hjelpetekst {
    white-space: pre-wrap;
  }
}
