.opprettSak {
  background: #e7e9e9;
  border: 1px solid #979797;
  border-radius: 0;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;

  .land_radiobtn {
    padding-left: 0.5rem;

    > * {
      margin-bottom: 0.5rem;
    }
  }

  .fieldset__legend {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
