@import "../../../../../felleskomponenter/trygdeavgift/komponenter/perioderCommon.less";

.medlemskapsperiode__rad {
  .trygdedekning {
    min-width: 7.5rem;
  }

  .dato--helseutgift-label {
    width: auto;

    .navds-label--small {
      white-space: nowrap;
      width: auto;
    }
  }
}

.medlemskapsperiode-display {
  margin-bottom: 1.5rem;
}
