.medlemskapsperiodeSkjema {
  .navds-form-field {
    margin-bottom: 0;
    gap: unset;
  }

  .navds-date__wrapper {
    height: auto;
    width: auto;
  }

  .legg-til__rad {
    margin: 0.5rem 0 1rem 0;
  }

  .skjema__rad {
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0.5rem 0.25rem 0;
    margin: 0;
    border-bottom: 1px solid #979797;
    width: fit-content;

    .slett__first {
      margin-top: 1.5rem;
    }

    .slett__knapp {
      display: flex;
      align-items: flex-start;
    }

    .dato {
      width: 7.5rem;
      margin-right: 0.75rem;
    }

    .bestemmelse {
      width: 15rem;
      margin-right: 0.75rem;
    }

    .trygdedekning {
      width: 7.5rem;
      margin-right: 0.75rem;
    }

    .skattepliktig {
      line-height: 1.5rem;
    }

    .dato__tom {
      display: flex;
      align-items: flex-end;
    }

    .datovelger__feilmelding {
      margin-bottom: 0;
    }
  }
}
