.skjema__panel table {
  border-collapse: collapse;

  // Remove all borders from table cells
  td,
  th {
    border: none;
  }

  // Add upper border to the last row
  tr:last-child {
    td,
    th {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.skjema__panel {
  padding-left: 8px;
}
