.sumArsavregningTabell {
  padding: 0.33rem;
  background-color: #efefef;
  border-collapse: collapse;

  .navds-table {
    margin-bottom: 0;
  }

  td,
  th {
    border: none;
  }

  tr:last-child {
    td,
    th {
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.skjema__panel {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
