.tidligereGrunnlagsoversikt {
  padding: 1rem;
  background-color: #efefef;

  .navds-heading {
    margin-bottom: 1.5rem;
  }

  .totaltForPerioden {
    padding-right: 0.5rem;
  }

  margin-bottom: 1.5rem;
}
