.vurderingVedtakOpphoer {
  .stegKnapper {
    margin-left: 0.5rem;
  }

  .forhåndsvisning {
    margin: 0;
    button {
      display: inline-flex;
      text-align: left;
    }
  }

  .fritekst_overskrift {
    margin: 0 0.5rem 0.5rem 0.5rem;
    .hjelpetekst {
      width: 20px;
      height: 20px;
    }
  }

  .fritekst_editor {
    margin: 0 0.5rem 2rem 0.5rem;
  }

  .pdfLenkeListe {
    margin: 0;
    padding-left: 3px;
    display: inline-block;
  }

  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .hjelpetekst {
    white-space: pre-wrap;
  }
}
