.vurderingBekreftelse {
  .betalingsvalg-checkbox {
    padding-left: 0;
  }
  .betalingsvalg {
    padding-left: 0;
  }
  .fakturamottaker {
    padding-bottom: 1.5rem;
  }
  .fritekst_teller {
    margin-top: 0.25rem;
    &--error {
      color: var(--a-text-danger);
      font-weight: bold;
    }
  }
}
