@import "../../../../constants.less";

.fakturainformasjon {
  overflow-x: auto;
  .fakturainformasjon-tabell {
    padding: 1em 0 2em 0em;
    .fakturaseksjon {
      padding-bottom: 3em;
      .headerseksjon {
        padding-bottom: 0.5em;
        .header {
          color: @navGra60;

          > * {
            padding-left: 0;
          }
        }
      }
      .row {
        margin: 0;
        border-bottom: 1px solid @navGra60;
        padding: 0.3em 0;

        &:last-child {
          border-bottom: 0px solid @navGra60;
        }

        > * {
          padding-left: 0;
        }
      }
    }
  }

  .fakturanr_wrapper {
    flex-direction: row;
    display: flex;
  }

  .faktura_status_wrapper {
    flex-direction: row;
    display: flex;
    align-items: center;
    .dott {
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;

      &.red {
        background-color: @red;
      }

      &.green {
        background-color: @green-dark;
      }
    }
  }

  .navds-table__expandable-row--open {
    background-color: @white-dark;
  }

  .navds-table__expanded-row-collapse {
    background-color: @white-dark;
  }

  .fakturalinje {
    .uten-border {
      border-bottom: 0px;
    }
  }
  .mellomrom-tekst-tabell {
    margin-bottom: 0.75rem;
  }
}
