.vurderingArtikkel16Vedtak {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .row:not(:last-child):not(.lovvalgsperiode__row) {
    margin-bottom: 1.5rem;
  }

  time {
    font-size: 1rem;
  }
}
