.informasjon {
  .brukers-navn {
    margin-top: 1em;
  }

  .bruker-eller-org-navn {
    margin-top: 0.5rem;
    display: flex;
    .term {
      margin-right: 0.5rem;
    }
  }

  .dokumentblokk {
    margin-bottom: 0.75rem;

    .tittelendring {
      margin-top: 0.25rem;
      .knapper {
        &:last-of-type {
          margin-left: 0.5rem;
        }
      }
    }

    .dokumentvisning {
      background: #f8f8f8;
      border: 1px solid #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.25rem 0.5rem 0.25rem;
      padding: 0.25rem;

      .ikon-wrapper {
        display: flex;

        > :last-child {
          margin-left: 0.33rem;
        }
      }
    }
  }
  .logiskeVedlegg-listevelger {
    margin-top: 0.25rem;
  }
}
