.journalforingform {
  .feilmelding {
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      padding-left: 1rem;
    }
    margin: 0 0 1rem 0;
  }

  .navds-checkbox {
    margin-bottom: 0.5rem;
  }
}
