.personinfo {
  display: flex;
  flex-wrap: wrap;
  background: #efefef;
  margin: 0.5rem 0;
  padding: 1rem 0;

  .personstatus,
  .sivilstand {
    display: flow-root;
  }

  &__vis-detaljer {
    float: right;
  }
}
