.behandlinger-liste {
  background-color: #eceef0;
  margin-top: 1rem;
}

.behandling-tittel {
  font-weight: 500;
}

.toggle-button-container {
  border-top: 1px solid #c6c2bf;
  display: flex;
  justify-content: flex-end;
}
