.vurderingInngang_unntaksregistrering {
  .fieldset {
    margin-bottom: 0.5rem;
  }

  .fieldset__legend {
    margin-bottom: 0.5rem;
  }

  .periode_label {
    margin-bottom: 1rem;
  }

  &__alertstripe {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
  }
}
