.arbeidsstedland__redigerer__preelementer {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .fast-arbeidssted {
    margin-top: 15px;
  }

  .col {
    display: flex;

    > *:first-child  {
      margin-right: 15px;
    }
  }
}
