@import '../../../constants';

.andreArbeidsforholdNorge {
  .undertittel {
    border-bottom: 1px solid @gray;
    margin-bottom: 15px;
  }

  .selvstendigNaeringsvirksomhetUndertittel {
    margin-top: 50px;
  }
}
