@import '../../../constants';

.artikkel16 {
  .artikkel16__ekstratopp {
    margin-top: 1em;
  }

  .forhandsvisPDF{
    border:0;
    padding:0;
    margin:1em 0;
    outline: 0;
    background: transparent;
    color: @blue-nav;

    &:focus {
      text-decoration: underline;
    }
  }
}
