.ekstraArbeidsgivere {

  .sokArbeidsgiver {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .knapp {
      margin: 2em 0 0 1em;
    }
  }

  .leggTilArbeidsgiver {
    .knapp {
      margin: 1em 0 0 0;
    }
  }
}

.organisasjonNavn {
  margin-top: 0.8em;
}
