@import "../../../../constants.less";

.fritekstvedleggSkjema {
  padding-left: 8px;

  &__heading {
    padding-top: 1rem;
  }

  .container__knapperad {
    margin-top: 1rem;

    > :first-child {
      margin-right: 1rem;
    }
  }

  .typo-undertekst {
    margin-bottom: 0.5rem;
  }

  &__skjema {
    border-radius: 4px;
    background-color: #f2f3f5;
  }

  .row {
    padding: 0 8px;
  }

  .col {
    padding: 0;
  }

  .wrapper {
    background-color: @white;
  }
}
