@import '../../utils/mixins';
@import '../../constants';

.foretakUtland {
  .foretakUtland__enkelt {
    border-bottom: 1px solid @gray-dark;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .foretakUtland__leggtil {
    float:right;
  }
}
