.dialogboks-henlegg {
  width: 50%;

  &__overskrift {
    margin-bottom: 25px;
  }

  &__fritekst {
    margin-bottom: 25px;
  }

  &__feilmeldinger {
    margin-bottom: 1rem;
  }

  &__kontrollfeil {
    padding: 8px 0;
  }
}
