@import "../../constants";

.radioKnappRamme {
  flex: 1;
  padding-top: 0;
  padding-bottom: 0;

  .navds-radio {
    width: 100%;
  }

  &.focused {
    background-color: @blue-subtle;
    border-color: @blue-nav;
  }
}
