@import "../../../constants.less";

.customRadioPanelGruppe {
  .fieldset__legend {
    margin-bottom: 0;
  }

  .customRadioPanel {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-items: center;
    border: 1px solid @gray-dark;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 3px;
  }

  .customRadioPanel--checked {
    background-color: #0067c540;
  }

  .customRadioPanel--focused {
  }

  .customRadioPanel--disabled {
    background-color: #ff0000;
  }

  .radioPanel__Input {
    margin: 0.5em;
    flex: 1;
  }

  .radioPanel__innhold {
    flex: 10;
  }

  .visMerMindre {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      display: inline-flex;
      background: none;
      border: none;
      color: #0067c5;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    svg {
      height: 20px;
      width: 20px;
      margin-left: 0.25rem;
    }
  }
}

.customRadioPanelElement {
  display: block;
  margin: 0;

  dt {
    float: left;
    clear: left;
    font-weight: bold;
    margin-right: 0.4em;
  }

  dd {
    float: left;
    clear: right;
    margin: 0;
  }
}
