@import "../../../constants.less";

.customRadioPanelGruppe {
  justify-content: space-between;

  fieldset {
    legend {
      margin: 0;
    }
  }

  .customRadioPanelTittel {
    margin-top: 0.25rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .customRadioPanel {
    display: flex;
    flex-direction: row;
    justify-items: center;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: @gray-dark;
    margin: 0;
    padding: 0.5em;
  }

  .customRadioPanel:last-child {
    border-width: 1px;
  }

  .radioPanel__innhold {
    flex: 10;
  }

  .visMerMindre {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;

    button {
      display: inline-flex;
      background: none;
      border: none;
      color: #0067c5;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    svg {
      height: 20px;
      width: 20px;
      margin-left: 0.25rem;
    }
  }
}
