@import '../../node_modules/nav-frontend-typografi-style/src/mixins';

.beskrivliste-mixin(@dir) {
  margin:0;
  display:block;

  dt,
  dd {
    display:block;
    margin:0;
  }

  dt {
    font-weight:600;
  }
}

.beskrivliste-mixin(@dir) when (@dir = 'row') {
  dd {
    padding:0 0 0 8px;
  }

  dt,
  dd {
    float:left;
    width:50%;
  }
}

.beskrivliste-mixin(@dir) when (@dir = 'col') {
  dt:not(:first-child) {
    margin-top:0.5em;
  }
}

.seksjonmixin() {
  margin:0 0 3em;

  &:last-child {
    margin:0;
  }
}
