.personstatus_modal {
  width: 80%;

  &__tabell {
    &_header {
      margin-bottom: 0.25em;
      color: #78706a;
    }

    &_rad {
      margin: 0.25em 0;
    }
  }

  &__gyldighetsinfo {
    display: flex;

    .hjelpetekst {
      margin-left: 0.5rem;
    }
  }
}
