@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingTrygdeavgift {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .radio-gruppe__container,
  .nyVurderingTekst {
    margin-bottom: 1rem;
  }

  .form__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.75rem;
  }

  .beregnKnapp {
    margin-top: 1rem;
  }

  .skatteforholdsperioder {
    margin-bottom: 2rem;
  }

  .inntektskilder,
  .skatteforholdsperioder {
    padding: 1rem;
    border-radius: 2px;
    background: @navLysGra;
    overflow-x: auto;
    display: block;
    white-space: nowrap;

    & > * {
      min-width: 7em;
      white-space: break-spaces;
    }

    &__label {
      margin-bottom: 0.5rem;
      font-size: 18px;
      font-weight: 600;
    }

    &__overskriftrad {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: flex-end;
    }

    .flex__kolonne {
      display: flex;

      > :first-child {
        min-width: 7rem;
        margin-right: 0.5rem;
      }
      > :last-child {
        min-width: 7rem;
        margin-left: 0.5rem;
      }
    }

    .ikkeRelevant {
      margin-top: 0.5rem;
    }

    .radioknapp_vertikal {
      float: left;
      min-height: 1px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-top: 0.5rem;
    }

    .skillestrek {
      border-top: 1px solid #d8d8d8;
      padding-top: 0.5rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
  .periode_tabell-wrapper {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
  .periode_tabell {
    margin: 1em 0;
    overflow-x: auto;
    display: block;

    .header_row {
      white-space: nowrap;
    }

    .border_top {
      > :first-child {
        white-space: nowrap;
      }
    }
  }
  .alertstripe_feilmelding,
  .infomelding {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
