@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingTrygdeavgift {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .radio-gruppe__container {
    margin-bottom: 1rem;
  }

  .form__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.75rem;
  }

  .beregnKnapp,
  .infomelding {
    margin-top: 1rem;
  }

  .skatteforholdsperioder {
    margin-bottom: 2rem;
  }

  .inntektskilder,
  .skatteforholdsperioder {
    padding: 1rem;
    border-radius: 2px;
    background: @navLysGra;

    &__label {
      margin-bottom: 0.5rem;
      font-size: 18px;
      font-weight: 600;
    }

    &__overskriftrad {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: flex-end;
    }

    .flex__kolonne {
      display: flex;

      > :first-child {
        width: 50%;
        margin-right: 0.5rem;
      }
      > :last-child {
        width: 50%;
        margin-left: 0.5rem;
      }
    }

    .ikkeRelevant {
      margin-top: 0.5rem;
    }

    .radioknapp_vertikal {
      float: left;
      min-height: 1px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-top: 0.5rem;
    }

    .skillestrek {
      border-top: 1px solid #d8d8d8;
      padding-top: 0.5rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
  .periode_tabell-wrapper {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
  }
  .periode_tabell {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-family: "Source Sans Pro", Arial, sans-serif;

    tbody {
      display: table;
      width: 100%;
    }

    th {
      text-align: left;
      padding: 0.2em 0.5em;
      color: #78706a;
    }

    .border_top {
      border-top: 1px solid #d8d7d6;
    }

    td {
      padding: 0.5em 0.5em;
    }
  }
  .alertstripe_feilmelding {
    margin-top: 0.5rem;
  }
}
