@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingTrygdeavgift {
  .undertittel {
    margin-bottom: 1.5rem;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.75rem;
  }

  .beregnKnapp,
  .infomelding {
    margin-top: 1rem;
  }

  .inntektskilder {
    padding: 0 1rem 1rem;
    margin-top: 2rem;
    background: @navLysGra;
    position: relative;

    &__legend {
      margin-left: -1rem;
      margin-top: -2rem;
      position: absolute;
      font-size: 18px;
    }

    &__overskriftrad {
      margin-bottom: 0.5rem;
    }

    .ikkeRelevant {
      margin-top: 0.5rem;
    }

    .radioknapp_vertikal {
      float: left;
      min-height: 1px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-top: 0.5rem;
    }

    .slett {
      margin-top: 0.5rem;
    }

    .skillestrek {
      border-top: 1px solid #d8d8d8;
      padding-top: 0.5rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}
