@import "../../constants";

.panelheader {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center;
}

.panelheader__ikon {
  display: flex;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 0.5em;
  align-self: center;
}

.panelheader__tittel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.panelheader__tittel__hoved * {
  text-align: left;
  display: inline;
}

.panelheader__tittel__under {
  text-align: left;
  font-weight: 300;
}
