.journalforing {
  width:100%;

  .journalforing__skjema {
  }

  .journalforing__fotknapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #7f7f7f;
    margin-top: 2em;
    padding-top: 2em;

    .knapp {
      margin: 0 0 0 1em;
    }
  }
}
