.registrering {
  width:100%;

  .registrering__skjema__scroll {
    overflow-y: scroll;
    height: 100vh;
    margin: 0 -1em;
    padding: 0 1em;
  }

  .registrering__fotknapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #7f7f7f;
    margin-top: 2em;
    padding-top: 2em;
  }
}
