@import '../constants';

.saksbehandling {
  width:100%;
}

.saksbehandling__vurdering {
  background-color: @gray;
  min-height: 150px;
}

.saksbehandling__soknadSammendrag {
  background-color: @white;
}
