.spark {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2em;
}

.spark__gruppe {
  display:flex;
  flex-direction: column;
  background-color: #cccccc;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 4px;

  h1 {
    font-size: 1.5em;
    margin: 0;
  }

  h2 {
    font-size: 1.1em;
    margin: 0.5em 0 0 0;
    border-bottom: 1px solid #6a8e98;
  }

  .spark__gruppe__forklaring {
    margin: 0 0 1em;
    max-width: 500px;

    span {
      background-color: #005b82;
      border-radius: 30px;
      text-align: center;
      display: inline-block;
      width: 20px;
      height: 20px;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      margin-right: 5px;
    }
  }

  label {
    display: block;
    font-weight: bold;
    color: #005b82;
    margin-bottom: 0.3em;
  }

  input[type='text'],
  textarea {
    border: 0;
    border-radius: 3px;
    background-color: #fbfbfb;
    padding: 0.5em;
  }

  code {
    font-size: 0.6em;
  }

  button,
  input[type='submit'] {
    background: #000000;
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 150px;
    margin: 0.5em 0;
  }

  .spark__oppgave__body {
    width: 100%;
    height: 100px;
  }

  .spark__soknad__body {
    width: 100%;
    height: 100px;
  }


  .rejt-tree {
    button {
      padding: 0 0.5em;
      width: auto;
      margin-right: 0.5em;
    }
  }
}
