@import "../../../../constants.less";

.lagredeUtkast {
  background: @navLysGra;
  border: 1px solid #d8d8d8;
  padding: 1rem;
  margin-bottom: 1rem;

  &__utkast {
    margin: 0.125rem;

    svg {
      vertical-align: bottom;
    }
  }
}
