.vurderingutpekt {
  .buc__varsel {
    ul {
      margin: 0.5rem 0;
      padding-left: 1.1rem;
    }
    margin-bottom: 1.5rem;
  }

  .stegvelgertittel {
    margin-bottom: 20px;
  }

  .rad {
    margin-bottom: 20px;
  }
}
