@import "../../constants.less";

.journalOppgave {
  margin-bottom: 0.5em;
  flex: 1;
  padding: 1em;

  .frist {
    margin-right: 0.4em;
    float: right;
  }

  .panel-slim-wrapper {
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 0.5rem;
  }
}

.journalOppgave__link:link,
.journalOppgave__link:visited,
.journalOppgave__link:hover {
  color: @black;
  text-decoration: none;
  flex-grow: 1;
  display: flex;
}
