@import '../../../utils/mixins';

.sakEnkeltLinje {
  margin-bottom: 1em;
  flex: 1;
}

.sakEnkeltLinje__stengt {
  background-color: #e9e7e7;
  .panelheader__ikon {
    animation: loading 3s linear infinite;
    @keyframes loading {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.sakEnkeltLinje__link:link,
.sakEnkeltLinje__link:visited,
.sakEnkeltLinje__link:hover {
  color: @black;
  text-decoration: none;
  flex-grow:1;
  display: flex;
}

.sakEnkeltLinje__meta {
  display: block;
  margin: 0.5em 0;
}

.sakEnkeltLinje__meta__term {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.4em;
}

.sakEnkeltLinje__meta__detalj {
  float:left;
  clear: right;
  margin: 0;
}
