@import (reference) "~nav-frontend-core/less/_variabler";

.informasjonsmodal {
  > *  {
    margin-bottom: 1em;
  }

  &__tabell-header {
    color: @navGra60;
  }

  &__tabell-row {
    border-top: 1px solid @navGra60;
    padding: 0.3em 0;
  }
}
