@import (reference) "~nav-frontend-core/less/_variabler";

.informasjonsmodal {
  width: 1024px;

  &__content {
    padding: 1em 2.5em;

    > * {
      margin-bottom: 1em;
    }
  }

  &__main-content {
    > * {
      margin-bottom: 1em;
    }
  }

  &__tabell-header {
    color: @navGra60;
  }

  &__tabell-row {
    border-top: 1px solid @navGra60;
    padding: 0.3em 0;
  }
}
