@import '../../../../constants';

.editableElementListe {
  .elementContainer {
    margin-bottom: 40px;
    padding-bottom: 10px;
  }

  .understrek {
    border-bottom: 1px solid @gray-dark;
  }

  .leggTilKnapp {
    margin-top: 30px;
  }
}
