@import (reference) "~nav-frontend-core/less/_variabler";

.wrapper_inntektskilder {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: @navLysGra;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .inntektskilder {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .radioknapp_gruppe {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      max-width: 9rem;
      justify-content: left;
      flex: 2;
      margin-left: 2%;
    }

    .radioknapp_tittel {
      max-width: 9rem;
      justify-content: left;
      margin-left: 2%;
    }

    .inntektskilde {
      min-width: 17rem;
      max-width: 17rem;
    }

    > * {
      min-width: 7.5rem;
      margin-left: 0.5rem;
    }

    .dato {
      max-width: 7.5rem;
    }

    .slett {
      padding: 0 1rem 1rem 1rem;
    }
  }

  .skillestrek {
    border-top: 1px solid #d8d8d8;
    padding-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .brutto_inntekt {
    white-space: break-spaces;
    max-width: 7.5rem;
    margin-left: 2.5%;
  }
}
