@import (reference) "~nav-frontend-core/less/_variabler";

.skatteforholdsperioder {
  padding: 1rem;
  border-radius: 2px;
  background: @navLysGra;
  margin-bottom: 2rem;

  &__label {
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 600;
  }

  &__overskriftrad {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
  }

  &__overskriftrad {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
  }

  .flex__kolonne {
    display: flex;

    > :first-child {
      width: 50%;
      margin-right: 0.5rem;
    }
    > :last-child {
      width: 50%;
      margin-left: 0.5rem;
    }
  }

  .ikkeRelevant {
    margin-top: 0.5rem;
  }

  .radioknapp_vertikal {
    float: left;
    min-height: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
  }

  .skillestrek {
    border-top: 1px solid #d8d8d8;
    padding-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
