@import "src/constants";

.vurderingVurderArbeidsland {
  .borderBottom {
    border-bottom: 1px solid @gray-light;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .overskrift {
    margin-bottom: 25px;
  }

  .navds-alert {
    margin-bottom: 1.5rem;
  }
}
