@import (reference) "node_modules/nav-frontend-core/less/_variabler";

.vurderingBestemmelse_ikkeyrkesaktiv {
  .innvilgelsesresultat {
    margin-bottom: 1rem;
  }
  .infomelding {
    margin-bottom: 1rem;
  }

  .navds-fieldset__legend {
    margin-bottom: 0.5rem;
  }

  .bestemmelse__rad {
    margin-bottom: 1rem;
  }
}
