@import "../../../../constants";

.vurderingArtikkel11_4 {
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .land_informasjon {
    margin-bottom: 1.5rem;

    .info_label {
      margin-top: 0.5rem;
    }
  }

  .artikkel_label {
    margin-bottom: 0.5rem;
  }

  .nis_label {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
