server {
  root /usr/share/nginx/html;
  listen       3000;
  include /etc/nginx/mime.types;
  proxy_http_version 1.1;

  location /api/ {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass "${APP_URL_MELOSYS}/api/";
  }

  location /melosys/api/ {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass "${APP_URL_MELOSYS}/api/";
  }

  location  /trygdeavtale-flyt/ {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass "${APP_URL_TRYGDEAVTALE}/flyt/";
  }

  location  /faktureringskomponenten/ {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass "${APP_URL_FAKTURERINGSKOMPONENTEN}/";
  }

  location  /graphql/ {
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass "${APP_URL_MELOSYS}/graphql/";
  }

  location /melosys/env-config.mjs {
    add_header Cache-Control 'no-store';
    add_header Cache-Control 'no-cache';
    expires 0;
    try_files $uri /env-config.mjs;
  }

  location /melosys/assets/ {
    alias /usr/share/nginx/html/assets/;
  }

  location /melosys/ {
    add_header Cache-Control 'no-store';
    add_header Cache-Control 'no-cache';
    expires 0;
    try_files $uri /index.html;
  }

  location = / {
    rewrite ^.+ https://$host/melosys/ permanent;
  }
}
