.soknadslandvelger {
  .lagreknapp {
    margin-top: 0.5rem;
  }

  .redigeringutfort-container {
    display: flex;

    .redigering-utfort-komponent {
      margin-right: 1em;
    }

    .rediger-knapp-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
