.soknadslandvelger {
  .container__knapperad {
    margin-top: 1rem;
  }

  .soknadsland__etikett {
    margin-bottom: 0.5rem;
  }

  .typo-element {
    margin-right: 1rem;
    font-size: 1.125rem;
  }

  .redigeringutfort-container {
    display: flex;
    align-items: center;
  }
}
