@import '../../../constants';

.landliste {

  .landliste__linje {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0;

    .landliste__linje__input {
      width: 200px;
      margin-bottom: 0;
    }

    .landliste__linje__knapp {
      margin-left: 1em;
    }

    .landliste__linje__knapp--leggtil {
      margin: 0.5em 0 0 1em;
    }

    .landliste__linje__navn {
      width: 200px;
    }
  }
}
