@import "../../constants";

.chevronKnapp {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  button {
    display: block;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
    color: @blue-nav;
    cursor: pointer;
  }
}
