@import '../../utils/mixins';

.selvstendigArbeid {
  .enkeltForetak {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #7f7f7f;
  }

  .enkeltforetak__adresse {
    margin-bottom: 1em;
    font-weight: bold;
  }

  .leggTilForetak {
    margin-bottom: 2em;
  }
}
