.vurderingVedtakAarsavregning {
  .navds-alert {
    margin-bottom: 1rem;
  }

  .editor_label {
    font-size: 1rem;
    font-weight: 600;
  }

  .editor-wrapper {
    max-width: unset;
  }

  .margin-top--2rem {
    margin-top: 2rem;
  }
}
