.mottakerTabell {
  border-collapse: collapse;
  width: 100%;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
  .border_bottom {
    border-bottom: 1px solid #d8d7d6;
    border-top: none;
  }
  th {
    text-align: left;
    padding: 0.2em 0.5em;
    border-bottom: 1px solid #000000;
    color: #3e3832;
  }
  td {
    padding: 0.5em 0.5em;
  }
}
