.vurderingBestemmelse_ftrl {
  .bestemmelse {
    margin-bottom: 1rem;
  }
  .radio {
    margin-bottom: 2rem;
  }
  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  .navds-fieldset__legend {
    font-weight: 500;
  }

  fieldset.navds-radio-group {
    margin-bottom: 2rem;
  }
}
