.vurderingBestemmelse {
  .select {
    .skjema__legend {
      margin-bottom: 0;
    }
  }
  .flytFinnesIkke {
    margin-top: 1.5rem;
  }
  .radio {
    .skjema__legend {
      margin-bottom: 0.5rem;
    }
  }
  .alertstripe {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .undertittel {
    margin-bottom: 1.5rem;
  }
}
