.medfolgende-familie__redigerer {
  display: flex;
  align-items: flex-end;

  .slett-symbol {
    margin-top: 2.4em;
    display: inline-block;
    align-self: center;
  }

  .navn-spinner {
    float: right;
    margin-top: -3.2em;
    margin-right: 0.2em;
  }
}
