@coreModulePath: "../../../node_modules/";
@frontendModuler: "@{coreModulePath}nav-frontend-";
@import "@{frontendModuler}core/less/core";
@import (reference) "~nav-frontend-core/less/_variabler";

.vedleggvelger {
  display: block;
  padding-top: 0.4rem;
}

.vedleggvelger-modal {
  max-width: 1024px;

  width: 95%;
  @media (min-width: @screen-lg-min) {
    width: 80%;
  }

  padding: 1rem;
  .typo-element {
    padding-left: 0.4rem;
    padding-bottom: 1.7rem;
  }

  .vedleggvelger-table-wrapper {
    overflow-x: auto;
  }

  .vedleggvelger-table {
    margin-bottom: 1.7rem;
    border-spacing: 0 0.3rem;
    width: 100%;

    .vedlegg {
      td {
        border-bottom: 0.7px solid #d8d8d8;
        padding: 0.4rem;
      }
      .skjemaelement {
        margin-bottom: 0;
      }

      td.icon--cell {
        text-align: right;
      }

      a {
        color: #0067c5;
      }

      .knapp {
        min-height: 2rem;
        width: 2.5rem;
        padding: 0;
        margin-top: 0;

        .ikon {
          height: 18px;
          width: 18px;
          margin-right: 0;

          :hover {
            margin-right: 0;
          }
        }
      }
    }
  }

  .knapp {
    float: right;
  }
}
