@coreModulePath: "../../../node_modules/";
@frontendModuler: "@{coreModulePath}nav-frontend-";
@import "@{frontendModuler}core/less/core";
@import (reference) "~nav-frontend-core/less/_variabler";

.vedleggvelger {
  display: block;
  padding-top: 0.4rem;
}

.vedleggvelger-modal {
  max-width: 1024px;

  width: 95%;
  @media (min-width: @screen-lg-min) {
    width: 80%;
  }

  padding: 1rem;
  .typo-element {
    padding-left: 0.4rem;
    padding-bottom: 1.7rem;
  }

  .knapp {
    float: right;
  }
}
