@coreModulePath: "../../../node_modules/";
@frontendModuler: "@{coreModulePath}nav-frontend-";
@import "@{frontendModuler}core/less/core";

.vedleggvelger {
  margin: 0;

  .vedleggvelger-tabell {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid black;
    }

    th {
      text-align: start;
    }

    td,
    th {
      min-width: 50px;
      padding: 0.3em 1em;
    }

    td {
      vertical-align: middle;
    }

    tbody {
      .enkeltvedlegg--border-bottom {
        border-bottom: 1px solid @navGra60;
      }
    }

    tr {
      .skjemaelement {
        display: table-cell;
      }

      .knapp {
        width: 2.5rem;
        padding: 0;
        margin-top: 0;

        .ikon {
          height: 24px;
          width: 24px;
          margin-right: 0;

          :hover {
            margin-right: 0;
          }
        }
      }
    }
  }

  .legg-til-vedlegg-knapp,
  .legg-til-markerte-vedlegg-knapp,
  .avbryt-knapp {
    margin-top: 1em;
  }
}
