.vurderingUnntakMedlemskap {
  .undertittel {
    margin-bottom: 1.5rem;
  }

  &__godkjent_advarsel,
  &__info {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    .alertstripe__tekst {
      max-width: none;
    }
  }

  &__ikke_godkjent_advarsel {
    margin-top: 1rem;
    .alertstripe__tekst {
      max-width: none;
    }
  }

  &__feilmelding {
    margin-top: 1rem;
  }
}
