.vurderingUnntakMedlemskap {
  .formLabel {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .fieldset__legend {
    margin-bottom: 0.5rem;
  }

  .alertstripe {
    margin-top: 0.5rem;
  }

  .trygdedekning__label {
    margin-bottom: 0.5rem;
  }

  .trygdedekning__panel {
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    padding: 0.5rem;
  }

  .melosys-radiogroup {
    margin-bottom: 1rem;
  }
}
