.vurderingUnntakMedlemskap {
  .formLabel {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .fieldset__legend {
    margin-bottom: 0.5rem;
  }

  .stegvelgertittel {
    margin-bottom: 1.5rem;
  }

  &__godkjent_advarsel,
  &__info {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    .alertstripe__tekst {
      max-width: none;
    }
  }

  &__ikke_godkjent_advarsel {
    .alertstripe__tekst {
      max-width: none;
    }
  }

  .alertstripe {
    margin-top: 0.5rem;
  }
}
