@import (reference) "~nav-frontend-core/less/_variabler";
@import "../../../../../constants.less";

.familiemedlemmer {
  &__fra-register-etikett {
    float: right;
  }

  .menypanel__table-wrapper {
    margin-bottom: 2.5rem;
  }

  &__understrek {
    border-bottom: 1px solid @gray-dark;
  }

  &__undertittel {
    margin-bottom: 1rem;
  }

  &__ektefelle-partner-undertittel {
    margin-bottom: 0;
  }

  &__ingen-familiemedlemmer-registrert-etikett,
  &__samboer-etikett  {
    color: @navGra60;
  }

  &__samboer-etikett {
    font-style: italic;
    margin-bottom: 1rem;
  }
  &__vis-familieforhold-knapp {
    margin: 1rem 0;
  }
}

.mellomrom-ikon-tekst {
  margin-right: 0.2em;
}
