@import (reference) "~nav-frontend-core/less/_variabler";

.familiemedlemmer {
  &__fra-register-etikett {
    float: right;
  }

  &__undertittel {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  &__ektefelle-partner-undertittel {
    margin-bottom: 0;
  }

  &__ingen-familiemedlemmer-registrert-etikett,
  &__samboer-etikett  {
    color: @navGra60;
  }

  &__samboer-etikett {
    font-style: italic;
    margin-bottom: 1em;
  }
}
