@import "../../../../constants";

.editerbart__element {
  &.understrek {
    border-bottom: 1px solid @gray-dark;
  }

  .heading-margin {
    margin-bottom: 0.5em;
  }

  .skjema__legend {
    width: 100%;
  }

  .skjema__fieldset {
    margin-bottom: 0;
  }
}
