@import "../../../../constants";

.editerbart__element  {
  &.understrek {
    border-bottom: 1px solid @gray-dark;
  }

  .lagre__knapp {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .skjema__legend {
    width: 100%;
  }

  .skjema__fieldset {
    margin-bottom: 0;
  }
}
