@import "../../../../constants";

.editerbart-element__legend {
  &--understrek {
    border-bottom: 1px solid @gray-dark;
  }

  &__tittel-container {
    margin-right: 0.625rem;

    &__tittelikon {
      margin-right: 0.625rem;
    }

    &__tittel {
      display: inline;
    }
  }
}
