@import '../../utils/mixins';

.organisasjon {
  margin-top: 3em;

  .organisasjon__detaljer {
    .beskrivliste-mixin('col');
  }

  .organisasjon__slettwrapper {
    display: flex;
    flex-direction: column;
  }

  .organisasjon__slett {
    display: flex;
    flex: 1;
    background-color: #6ab889;
    align-content: flex-end;
    justify-content: flex-end;
  }

}
