@import "../../constants";

.expandableList {
  margin-bottom: 1em;

  .list {
    width: 100%;
    margin-bottom: 0.5em;

    .divider {
      border-bottom: 1px solid @gray-dark;

      &:first-child {
        border-top: 1px solid @gray-dark;
      }
    }
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;

    button {
      text-decoration: underline;
      display: block;
      border: 0;
      padding: 0;
      outline: 0;
      background: transparent;
      color: @blue-nav;
      cursor: pointer;
    }
  }
}
