@import '../../../constants';

.arbeidsgivereNorge {
}

.arbeidsgivereEnkeltNorge {
  margin-bottom: 20px;

  .undertittel {
    border-bottom: 1px solid @gray;
  }

  .organisasjonSeksjon {
    margin-bottom: 50px;
  }
}
