@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingBestemmelse {
  .undertittel {
    margin-bottom: 1.5rem;
  }
  .hjelpetekst {
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
  }
  .bestemmelseValg {
    .skjema__legend {
      margin-bottom: 8px;
    }
  }
  .bestemmelseTekst {
    div {
      background: @navLysGra;
      padding: 1rem;
    }
    ul {
      margin: 0;
      padding-left: 1.5rem;
    }
  }
}
