@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingVedtak {
  &__undertittel {
    margin-bottom: 1.5rem;
  }

  &__infolinje {
    margin-bottom: 2rem;
  }

  &__info {
    padding-left: 0.5em;
  }

  &__hjelpetekst {
    .popover__content-inner {
      width: 550px;
    }
    vertical-align: bottom;
    margin-left: 0.75rem;
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }

  &__ikon {
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }

  &__datofelt_wrapper {
    display: inline-flex;
    padding-left: 0.5em;
  }

  &__datofelt {
    margin-left: 1rem;
  }

  &__endreTom {
    cursor: pointer;
    margin-left: 0.5rem;
  }

  &__endreTomTekst {
    vertical-align: top;
    margin-left: 0.25rem;
    color: @navBla;
  }

  &__endreTom--disabled {
    cursor: auto;
  }

  &__fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__fritekst_editor {
    margin-left: 0.5rem;
  }

  &__kopiCheckbox {
    margin: 2rem 0 -1rem 0.5rem;
  }

  &__forhåndsvisning {
    margin: 0;
    display: inline-block;
  }

  &__nyvurdering {
    margin-left: 0.5rem;
    margin-bottom: -1rem;
    .skjema__legend {
      margin-bottom: 0;
    }
    &--fritekst {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  &__alertstripe {
    margin: -1rem auto;
  }
}
