@import (reference) "~nav-frontend-core/less/_variabler";

.vurderingVedtak {
  .info {
    padding-left: 0.5em;
  }

  .endreTom {
    cursor: pointer;
    margin-left: 0.5rem;
    .tekst {
      vertical-align: top;
      margin-left: 0.25rem;
      color: @navBla;
    }
  }

  .ikon {
    width: 20px;
    height: 20px;
    margin-bottom: 0.25rem;
  }

  .datofelt {
    margin-left: 1rem;
  }

  .datofelt_wrapper {
    display: inline-flex;
  }

  .fritekst_overskrift {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .fritekst_editor {
    margin-left: 0.5rem;
  }

  .pdfLenkeListe {
    margin: 0;
    display: inline-block;
  }

  .margin_bottom {
    margin-bottom: 2rem;
  }

  .undertittel {
    margin-bottom: 1.5rem;
  }

  .hjelpetekst {
    .popover__content-inner {
      width: 550px;
    }
    vertical-align: bottom;
    margin-left: 0.75rem;
  }

  .kopiCheckbox {
    margin: 2rem 0 -1rem 0.5rem;
  }
}
