.statsborgerskapsliste {
  &__header,
  &__rad {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
  }

  &__rad {
    margin: 0.25em 0;
  }

  &__header {
    margin-bottom: 0.25em;
  }
}
