.vurdering-medfolgende-barn {
  .skjema__fieldset {
    margin-bottom: 0;
  }

  .undertittel {
    margin-bottom: 1em;
  }

  .vurdering-medfolgende-barn__enkelt {
    margin-bottom: 1.5em;

    .personalia {
      display: flex;
    }
  }
}
