@import "../../../constants";

.artikkel16 {
  .vilAnmode {
    margin-top: 1.5rem;
  }

  .artikkel16__ekstratopp {
    margin-top: 1rem;
  }

  #art16_1_anmodning::placeholder {
    font-style: italic;
  }

  .mottakerinstitusjoner {
    .skjemaelement__label {
      font-weight: bold;
    }
  }

  .varsel {
    margin-top: 1rem;
  }
}
