.vurderingBostedsland {
  .vurderingBostedsland__skjemafelt {
    margin-top: 2em;
  }

  .vurderingBostedsland__barnetrygd {
    font-style: italic;
  }

  .navds-radio-buttons {
    .row {
      margin-left: 1rem;
    }
  }

  .navds-checkbox-group {
    margin-top: 1.5rem;
  }
}
