@coreModulePath: "../../../node_modules/";
@frontendModuler: "@{coreModulePath}nav-frontend-";
@import "@{frontendModuler}core/less/core";
@import (reference) "node_modules/nav-frontend-core/less/_variabler";

.slettfritekstvedlegg-modal {
  max-width: 600px;
  width: 70%;
  padding: 2rem;

  .typo-element {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  .typo-normal {
    margin-bottom: 1rem;
  }

  .knapp--hoved {
    margin-right: 1rem;
  }

  .lukknapp {
    display: none;
  }
}

.vedleggtable-label {
  margin-top: 1rem;
}
