.dialogboksAvslagSoknad {
  width: 50%;
  padding: 1em 2em;

  .overskrift {
    margin-bottom: 25px;
  }

  .dialogboksAvslagSoknad__container__knapperad {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 3em;

    .knapp {
      margin: 0 0.5em 0 0;
    }
  }

  .avslagsoknadcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vedtakIkon {
      width: 30px;
      height: 30px;
      margin-top:0.5em;
      margin-bottom: 1em;
    }
  }
}
