.dialogboksOppfriskBehandling {
  width: 50%;

  .spinner{
    display: block;
    margin: 0 auto;
  }

  .overskrift {
    text-align: center;
  }

  .tekst {
    padding: .5em 0;
  }

  .alertstripe {
    margin-top: 1em;
  }

  .knapperadcontainer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 1em;

    .knapp {
      margin: 0 0.5em 0 0;
    }
  }
}
