.dialogboksAvslagSoknad {
  padding: 1em 2em;

  .overskrift {
    margin-bottom: 25px;
  }

  .avslagsoknadcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vedtakIkon {
      width: 30px;
      height: 30px;
      margin-top:0.5em;
      margin-bottom: 1em;
    }
  }
}
