.virksomhetMelding,
.tomFlytMelding {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .alertstripe__tekst {
    max-width: none;
  }
}

.standardMeldingOverst {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 3em;
  transform: translateX(-50%);
}
