.virksomhetMelding,
.ingenFlytMelding {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .listePadding {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.25rem;
  }
}

.nyVurderingMelding {
  margin-bottom: 0.5rem;

  &__overskrift {
    font-weight: bold;
  }
}

.standardMeldingOverst {
  position: fixed;
  width: 80%;
  top: 0;
  left: 50%;
  margin-top: 3em;
  transform: translateX(-50%);

  .fullBredde {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navds-alert__wrapper {
    width: 100%;
  }
}

.innsynsmelding {
  margin-bottom: 0.5rem;
}

.unntakHjelpetekst {
  ul {
    margin: 0;
  }
  li {
    margin-bottom: 0.33rem;
  }
  p {
    margin-bottom: 0;
  }
  .etikett--info {
    padding: 1.5rem;
    min-width: 100%;
  }
}
