.App__versjonering {
  color: #3e3832;
  max-height: 17px;
  overflow: hidden;

  dt {
    float: left;
    clear:both;
    font-weight: bold;
  }

  dd {
    float:right;
  }
}

.App__versjonering--vis {
  max-height: inherit;
}

.App__versjonering__knapp {
  border: 0;
  background-color: transparent;
  outline: none;
}
