.arbeidsforhold-arbeidstaker {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

.arbeidsforhold-virksomhet {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

.arbeidsforhold-vurdering {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 48.0625rem) {
  .arbeidsforhold-arbeidstaker {
    box-sizing: border-box;
    padding-right: 1rem;
    width: 35%;
  }

  .arbeidsforhold-virksomhet {
    box-sizing: border-box;
    padding-left: 1rem;
    width: 40%;
  }

  .arbeidsforhold-vurdering {
    box-sizing: border-box;
    padding-left: 1rem;
    width: 25%;
  }
}
