// COLOR
// --------------------------------
@color-white:#ffffff;
@color-black:#000000;
@color-purple:#634689;
@color-purple-light:#826BA1;



// TYPOGRAPHY
// --------------------------------
@font-size:13pt;