// COLOR
// --------------------------------
@color-white:#ffffff;
@color-black:#000000;
@color-purple:#634689;
@color-purple-light:#826BA1;
@color-gray-light:#D8D7D6;



// TYPOGRAPHY
// --------------------------------
@font-size:13pt;
@font-family:'Source Sans Pro', Arial, sans-serif;