@coreModulePath: './../node_modules/';
@nodeModulesPath: './../node_modules/';

@frontendModuler: '@{nodeModulesPath}nav-frontend-';
@indexFil: '-style/src/index';

body {
  background-color: #efefef;
  color: #3e3832;
  font-family: Arial, sans-serif;
  line-height: 1.42857143;
  margin: 0px;
  padding: 0px;
}

@import '@{frontendModuler}typografi@{indexFil}';
@import '@{frontendModuler}chevron@{indexFil}';
@import '@{frontendModuler}alertstriper@{indexFil}';
@import '@{frontendModuler}skjema@{indexFil}';
@import '@{frontendModuler}knapper@{indexFil}';
@import '@{frontendModuler}paneler@{indexFil}';
@import '@{frontendModuler}lenkepanel@{indexFil}';
@import '@{frontendModuler}ekspanderbartpanel@{indexFil}';
@import '@{frontendModuler}tabell@{indexFil}';
@import '@{frontendModuler}alertstriper@{indexFil}';
@import '@{frontendModuler}grid@{indexFil}';
