@import "./constants";

body {
  margin: 0;
  padding: 0 0 50vh;

  background-color: @white-off;
  color: black;
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.42857143;
}

section {
  margin: 0.5em 0;
}

.panelSeksjon {
  margin: 1em 0;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
}

.skjemaelement {
  margin-bottom: 1rem;
}

.stegvelgertittel {
  font-size: 1.5rem;
  line-height: 2rem;
}

.typo-systemtittel {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.typo-undertittel {
  font-size: 1.125rem;
  line-height: 1.25rem;
}
