.arbeidsforholdContainer {
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 80px;
  margin-top: 20px;
  max-width: 800px;
  min-width: 500px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.search-container {
  margin-bottom: 20px;
  width: 500px;
}
