@import '../../../constants';

.stegIkon {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 0.2em;
  width: 70px;
  min-height: 70px;

  .stegIkon__knapp {
    background-color: transparent;
    border: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.8em;
    border-radius: 1px;
    min-height: 70px;

    &:active,
    &:focus,
    &:hover {
      .stegIkon__enkeltSteg, .stegIkon__vedtak {
        transform:scale(1.1);
      }
    }

    &:active,
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px #ffbd66;
    }
  }

  .stegIkon__enkeltSteg, .stegIkon__vedtak {
    display: flex;
    position: relative;
    background-repeat:no-repeat;
    background-size:contain;
    background-color:transparent;
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    margin:0.5em;
    border:0;
    cursor:pointer;
    transition:all 0.1s;
    outline:none;
  }

  .stegIkon__enkeltSteg {
    border-radius: 15px;
  }

  .stegIkon__knapp-utilgjengelig {
    cursor: default;
    pointer-events:none;
  }

  .stegIkon__tittel {
    position: relative;
    font-size: .9em;
    text-align: center;
    white-space: normal;
    width: 70px;
  }
}
