.dialogboksEndreBehandlingsfrist {
  width: 50%;
  overflow: visible;

  .overskrift {
    margin-bottom: 25px;
  }

  .dialogboks {
    padding: 0 1.5rem;
  }

  .innhold {
    padding: 2rem 0;
  }

  .avbryt-knapp {
    float: right;
  }
}
