.mottaker {
  margin-bottom: 0.5rem;
}

.organisasjonsnummer {
  margin-bottom: 0.5rem;
}

.kontaktperson {
  margin-bottom: 0;
}

.arbeidsgiver .navds-radio-buttons {
  margin-bottom: 0;
}

.arbeidsgiver {
  &__adresse {
    margin: 0 0 0 2rem;
  }
}

.norskmyndighet {
  .navds-checkboxes {
    margin-bottom: 0;
  }
}

.alertstripe_feil {
  margin-bottom: 1rem;

  ul {
    margin: 0 0 0 -1rem;
  }
}

.brukeradresse {
  margin-left: 0.5rem;
}

.organisasjonsAdresse {
  margin-bottom: 0.5rem;

  .registeradresse {
    margin-top: 0;
  }
}
