.vurderingForretningssted {
  .vilkaar {
    width: 80%;
  }

  .land {
    width: 50%;
    max-width: 250px;
  }

  .forretningssteder {
    margin-top: 0.5rem;

    .forretningssted {
      width: 50%;
      max-width: 200px;
      margin-bottom: 1rem;
    }
  }

  .navds-radio-buttons {
    margin-bottom: 1rem;
  }
}
