.oppsummering_verdi_par {
  margin-block-start: 0;
  margin-block-end: 0;

  .nokkel {
    font-weight: 600;
  }

  dl,
  dt,
  dd {
    display: inline;
  }

  dd {
    margin-inline-start: 0;
  }
}
