@import "src/utils/mixins";
@import "src/constants";

.oppsummering_verdi_par {
  .nokkel {
    font-weight: 600;
  }

  .ekstrafelt {
    font-style: italic;
  }

  &.ikke_redigerbar {
    cursor: default;
  }

  .blyant {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    margin-left: 0.5rem;
  }
}
