@import '../../../constants';

.periodeInntektOgFullmektig {
  .undertittel {
    padding-bottom: 5px;
    border-bottom: 1px solid @gray;
  }

  .inntektTittel, .fullmektigTittel {
    margin-top: 50px;
  }
};
