@import '../../../constants';

.periodeInntektOgFullmektig {
  .undertittel {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .inntektTittel, .fullmektigTittel {
    margin-top: 50px;
  }
};
