.datovelger {
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding-bottom: 1rem;

  .navds-text-field__input {
    width: inherit;
    padding-right: 0;
  }

  .navds-date__field-wrapper {
    width: 100%;
  }

  .navds-date__wrapper {
    width: 100%;
  }

  .datovelger__feilmelding {
    color: #ba3a26;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
