.datovelger {
  .navds-text-field__input {
    border: 1px solid #6a6a6a;
    line-height: 1.375rem;
    width: inherit;
  }

  .navds-label {
    display: flex;
  }

  .navds-label--small {
    min-height: 1.5rem;
  }

  .navds-date__field-wrapper {
    width: 100%;
  }

  .datovelger__feilmelding {
    margin-top: 0.25rem;
    color: #ba3a26;
    font-size: 1rem;
    font-weight: 600;
  }
}
