@import "../../../../../utils/mixins";

.soknadsperiode {
  .soknadsperiode__etikett {
    margin-bottom: 0.5rem;
  }

  .periode__container {
    display: flex;
    align-items: center;

    .periode {
      margin-right: 1rem;
      font-size: 1.125rem;
    }
  }
}
