@import '../../../../../constants';

.vedtak {
  .vedtak__betingelser {
    margin-top: 1em;
  }

  .vedtak__oppsummering {
    margin-top: 0.5em;
  }

  .vedtak__brevlenke {
    display: block;
  }

  .lovvalgsperiode {
    margin-top: 0.5em;
  }

  .mottakerinstitusjoner {
    margin-top: 1em;

    .skjemaelement__label {
      font-weight: bold;
    }
  }
}
