@import '../../../../../constants';

.vurderingArbeidsgiver {

  .arbeidsgiver {
    margin-top:2em;
  }

  .arbeidsgiver__enkeltlinje {
    align-items: center;
    margin: 0 0 1em 0;
    width:300px;
  }
}
