@import '../../../constants';

.arbeidssteder {
  .undertittel {
    border-bottom: 1px solid @gray;
  }

  .arbeidUtland, .arbeidsstedOffshore, .arbeidsstedSkip, .arbeidsstedFly {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
