.adresselinjer {
  width: 100%;

  .adresselinje {
    display: flex;
    margin-bottom: -1rem;
  }

  .slett__symbol {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }

  .leggTil__symbol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
