.send_brev {
  font-family: "Source Sans Pro", Arial, sans-serif;

  .fritekst_label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.75rem;
    .popover__content-inner {
      width: 500px;
    }
  }
  .brevknapp {
    margin: 2rem 1rem 0 0;
  }
  .brukeradresse {
    font-style: normal;
    margin-top: 0.5rem;
  }
  .arbeidsgiveradresse {
    font-style: normal;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .arbeidsgiver_radio {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
