@import "../../constants";

.sedbestilling {
  .skjema__fieldset {
    padding: 0 2em;
  }

  .hjelpetekst {
    vertical-align: bottom;
    margin-left: 0.5rem;
    .popover__content-inner {
      width: 500px;
    }
  }

  .knapp,
  .alertstripe {
    margin-top: 1.5em;
  }

  .multiselect {
    margin: 1em 0;
  }
}
