@import "../../constants";

.sedbestilling {
  .skjema__fieldset {
    padding: 0 2em;
  }

  .container__knapperad {
    margin-top: 1rem;
  }

  .alertstripe {
    margin-top: 1rem;
  }

  .multiselect {
    margin: 1em 0;
  }
}
