@import "../../constants";

.besvar_sed {
  .henter_opplysninger {
    text-align: center;
  }

  .buc_tabell {
    display: grid;
    grid-template-columns: [navn] 2fr [status] 1fr;

    .tabell_header {
      border-bottom: 2px solid @blue-nav;
      margin-bottom: 0.5em;
      padding-bottom: 0.25em;

      &.kolonne__navn {
        grid-column: navn;
        padding-left: 1em;
      }

      &.kolonne__status {
        grid-column: status;
      }
    }

    .navds-link {
      grid-column: span 3;
      margin-bottom: 1rem;

      .kolonne__navn {
        width: 66.66%;
      }

      .kolonne__status {
        width: 33.33%;
      }

      &:first-of-type {
        margin-top: 0.5rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
