.avsender {
  background: #e7e9e9;
  border: 1px solid #979797;
  margin: 0.5rem 0.5rem 0.5rem 1.5rem;
  padding: 1.25rem 1rem 1rem;

  .skjemaelement__label {
    font-weight: bold;
  }

  &__input {
    margin-bottom: 0.5rem;
  }

  &__navn {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &__label {
      margin-right: 0.5rem;
    }
  }
  .overskrift_fullmakt {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  .kontaktperson_wrapper {
    margin-top: 1.5rem;

    .kontaktperson_labels > * {
      display: inline;
    }
  }

  .fullmakt {
    margin-bottom: 0.5rem;
  }
}

.avsendervelger {
  &__radio {
    margin-bottom: 1rem;
  }
}
