.vurderingVedtak {
  .stegKnapper {
    margin-left: 0.5rem;
  }

  .forhåndsvisning {
    margin: 0;
    button {
      display: inline-flex;
      text-align: left;
    }
  }

  .info {
    padding-left: 0.5em;
  }

  .bold {
    font-weight: 600;
  }

  .fritekst_overskrift {
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  .fritekst_editor {
    margin: 0 0.5rem 2rem 0.5rem;
  }

  .trygdeavgift__row {
    margin-bottom: 1rem;
  }

  .fakturamottaker {
    display: flex;
  }

  .trygdeavgift,
  .vedtak_valg {
    margin-bottom: 1rem;
  }

  .arbeidsland,
  .fakturamottaker,
  .nyVurderingBakgrunn {
    margin-bottom: 2rem;
  }

  .vedtak_valg_select,
  .nyVurderingBakgrunn_select {
    margin-left: 0.5rem;
  }

  .nyVurderingBakgrunnFritekstRad {
    margin-left: 0;
  }

  .nyVurderingBakgrunn--fritekst_editor {
    margin-left: 0.5rem;
    margin-bottom: 0;
  }

  .navds-confirmation-panel {
    margin: 0 0.5rem 1.5rem 0.5rem;
  }
}
