.journalforingsOppgaver {
  .behandlingsoppgaver {
    margin-top: 30px;
  }

  &__alarm {
    margin-top: 4.5rem;
  }

  .fieldset__legend {
    white-space: nowrap;
    overflow: hidden;
  }

  .fieldset {
    white-space: nowrap;
    overflow: hidden;
  }
}
