@import '../../../constants';

.vurderingarbeidsforhold {

  .arbeidsforhold {
    margin-top:2em;
  }

  .arbeidsforhold__enkeltlinje {
    align-items: center;
    margin: 0 0 1em 0;
    width:300px;
  }

  .enkeltlinje__periode {
    margin-left: 1.5em;
    font-style:italic;
  }
}
