@import '../../constants';

.tabellutlisting {
  border-collapse: collapse;
  width:100%;
  margin:1em 0;

  th {
    text-align:left;
    padding:0.2em 0.4em;
    background-color: @gray;
    font-style: italic;
  }

  .border-bottom {
    border-bottom: 1px solid @gray;
  }

  td {
    padding: 0.3em 0.4em;
  }
}

.paginering {
  display:flex;
  justify-content: center;

  .paginering__nav {
    padding: 0.1em 0.5em 0.3em 0.5em;
    margin: 0.5em 0.5em;
    background-color: @white;
    border-radius: 0;
    border:1px solid @gray;
  }

  .paginering__nav--aktiv {
    font-weight: bold;
    color: @white;
    background-color: @blue-nav;
  }
}
