@import '../../constants';

.stegvelger {
  background-color: @gray;
  padding:1em;
  border-radius:4px;

  .fane__fot {
    padding-top:2em;
  }

  .betingelser__liste {
    margin: 1em 0;
    padding-left: 2em;
    list-style: none;
  }

  .liste__element {
    margin: 0 0 1em 0;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      top: 0;
      left:-2em;
      background-size: contain;
    }
  }

  .liste__element--oppfylt {
    &:before {
      background-image: url('../../resources/images/ikon-steg-ferdig.svg');
    }
  }

  .liste__element--varsel {
    &:before {
      background-image: url('../../resources/images/ikon-steg-varsel.svg');
    }
  }
  .liste__element--ikkeoppfylt {
    &:before {
      background-image: url('../../resources/images/ikon-steg-feil.svg');
    }
  }
}

