@import "../../../constants";

.listevelger {
  margin: 0 0 1em 0;

  .listevelger__linje {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
  }

  .listevelger__innhold {
    display: flex;
    flex: 1;
    align-items: center;

    .listevelger__ikon {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .listevelger__innhold__label {
      flex: 20;
      padding-left: 0.5em;
    }
  }

  .listevelger__linje__input {
    margin-bottom: 0;
    flex: 6;
  }

  .listevelger__linje__knapp {
    margin: 0 0.5rem;
    height: 2.5rem;
  }

  .listevelger__linje__knapp--leggtil {
    align-self: flex-start;
  }
}
